/* 
$bg-color-orange: linear-gradient(to top, rgb(241, 199, 121), rgb(255, 186, 57));

$bg-color-test: linear-gradient(to top, rgb(76, 64, 35), rgb(80, 67, 44));

$bg-color-black-orange: linear-gradient(to bottom, rgb(253, 167, 6), rgb(43, 42, 42));
 */
@keyframes testAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
