@import "_variables.scss";
@import "_mixins.scss";


* {
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}




@keyframes animationHeader {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body,
html {
    background: $bg-color;
    min-height: auto;
    position: relative;
    max-width: 100%;
    width: 100vw;

    main {
        min-height: 67vh;
    }

    header {
        border: solid 1px orange;
        background: $bg-color-black;
        border-radius: 12px;
        display: flex;
        height: 16vh;
        width: 92vw;
        justify-content: space-around;
        align-items: center;
        margin: 20px auto;

        .header--logo {
            height: 16vh;
            width: auto;

            &--img {
                display: block;
                max-height: 80%;
                max-width: 80%;
                margin: 2vh auto;
            }

        }

        .header--logo2 {

            position: relative;
            height: 16vh;
            width: 12vw;
        }

        .header--title {
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 16vh;
            color: $main-text-color;
            transition: 2s;
            width: 60vw;

            h1 {
                color: $main-text-color;
                font-weight: 700;
                font-size: 2.5em;
                letter-spacing: 2px;
                text-shadow: 2px 2px black;
                transition: 2s;
                animation-name: animationHeader;
                animation-duration: 5s;
                text-align: center;
            }

            h3 {
                opacity: 0;
                color: $main-text-color;
                font-weight: 700;
                font-size: 1.25em;
                letter-spacing: 0.5px;
                text-shadow: 2px 2px black;
                transition: 2s;
                animation-name: animationHeader;
                animation-duration: 5s;
                animation-delay: 1s;
                animation-fill-mode: forwards;
                text-align: center;
                margin-left: 30vw;
            }
        }
    }

    nav {

        border-radius: 12px;
        background: $bg-color-black;
        border: solid 1px orange;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 1.25em;
        height: 8vh;
        width: 92vw;
        margin: 0 auto;

        .nav--box {
            display: flex;
            justify-content: space-around;
            width: 80%;
            align-items: center;

            & a {
                align-items: center;
                color: $main-text-color;
                text-decoration: none;
                padding: 0.5rem;
                transition: 1s;
            }

            & a:hover {
                border-radius: 30px;
                background-color: $main-text-color;
                color: black;
            }

        }

    }

    footer {
        border-top: solid 1px $main-text-color;
        color: $main-text-color;
        background: linear-gradient(to left, rgb(28, 27, 27), rgb(40, 37, 37));
        position: relative;
        bottom: 0;
        text-align: right;
        max-height: 30px;
        padding-right: 5px;
        width: 100%;
    }
}

@include breakPoint(large) {

    body,
    html {
        header {
            .header--title {

                h1 {
                    font-size: 1.2rem;
                }

                h3 {
                    font-size: 0.8rem;
                    margin-left: 0vw;
                }
            }
        }

        nav {

            font-size: 1rem;
                height: 12vh;

            .nav--box {
                height: 90%;
                width: 90%;

                & a {
                    text-decoration: none;
                    transition: 1s;
                }

                & a:hover {
                    border-radius: 30px;
                }
            }
        }
    }
}

@include breakPoint(medium) {

    body,
    html {
        header {
            .header--title {

                h1 {
                    font-size: 1.2rem;
                }

                h3 {
                    font-size: 0.8rem;
                    margin-left: 0vw;
                }
            }
        }

        nav {

            font-size: 0.8rem;
            height: 10vh;

            .nav--box {
                height: 90%;
                width: 90%;

                & a {
                    text-decoration: none;
                    transition: 1s;
                }

                & a:hover {
                    border-radius: 30px;
                }
            }
        }
    }
}

@include breakPoint(small) {

    body,
    html {
        header {
            .header--logo {
                position: relative;
                height: 10vh;
                width: auto;
                bottom: 2vh;

                &--img {}
            }

            .header--title {

                h1 {
                    font-size: 1rem;
                }

                h3 {
                    font-size: 1rem;
                    margin-left: 0vw;
                }
            }
        }

        nav {
            font-size: 0.8em;
            height: 20vh;
            padding: 1em;
            width: 80vw;
            margin: 0 auto;
            align-items: center;

            .nav--box {
                align-items: center;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                height: 100%;
                justify-content: space-around;
                width: 100%;


                & a {
                    text-decoration: none;
                    transition: 1s;
                }

                & a:hover {
                    border-radius: 30px;
                }
            }
        }
    }
}