$bg-color: linear-gradient(to top, rgb(76, 64, 35), rgb(255, 186, 57));
$bg-color-black: linear-gradient(to left bottom, rgb(23, 23, 23), rgb(43, 42, 42));
$bg-color-orange: linear-gradient(to top, rgb(241, 199, 121), rgb(255, 186, 57));
$bg-color-orange-dark: linear-gradient(to top, rgb(241, 185, 81), rgb(210, 148, 34));
$bg-color-test: linear-gradient(to top, rgb(76, 64, 35), rgb(80, 67, 44));
$bg-color-test2: linear-gradient(to top, rgb(53, 46, 31), rgb(49, 41, 27));
$bg-color-black-orange: linear-gradient(to bottom, rgb(253, 167, 6), rgb(43, 42, 42));