@import "_template.scss";


@keyframes testAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container--title {
    @include title;
}


.index--container {
    display: grid;
    grid-template-columns: 2% 19% 19% 19% 19% 19% 3%;
    grid-template-rows: 10% 10% 10% 70%;
    height: 60vh;
    margin: 0 auto;
    width: 92vw;

    article {
        @include article;
    }

    article:hover {
        transform: scale(1.15);
        z-index: 100;
    }

    article a {
        @include article--a;
    }

    article a:hover {
        background-color: black;
        color: orange;
    }

    #article--1 {
        grid-column: 6/7;
        grid-row: 2/3;
    }

    #article--2 {
        grid-column: 5/6;
        grid-row: 3/4;
    }

    #article--3 {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    #article--4 {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    #article--5 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

}

@include breakPoint(xlarge) {
    .index--container {
        article a {
            font-size: 0.8rem;
        }
    }
}

@include breakPoint(large) {

    .index--container {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 300vh;
        justify-content: space-between;
        margin: 4vh auto;
        width: 92vw;

        article {
            height: 55vh;
            margin-top: 20px;
            width: 90vw;

            .article--image {
                max-height: 90vh;
                max-width: 80vw;
                overflow: hidden;

                .article--image--file {
                    border-radius: 5px;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        article:hover {
            transform: scale(1);
            z-index: 100;
        }

    }
}