* {
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(to top, #f1c779, #ffba39);
  /*     background: linear-gradient(to top, rgb(81, 81, 80), rgb(56, 55, 55));  */
  width: 100%;
}

header {
  background-image: url(../images/tlo-header-4.webp);
  background-size: contain;
  display: flex;
  height: 120px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: orange;
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px black;
  transition: 2s;
  margin-top: -20px;
}

header .header--img {
  height: 100px;
  width: 100px;
  position: absolute;
  top: 15px;
  left: 40px;
}

nav {
  border-top: solid 1px orange;
  background: linear-gradient(to left, #0b0a0a, #282525);
  display: flex;
  justify-content: right;
  font-size: 20px;
  height: 50px;
  padding: 1rem 0.5 rem;
  width: 100%;
}

nav a {
  align-items: center;
  color: orange;
  text-decoration: none;
  padding: 0.5rem;
  transition: 1s;
}

nav a:hover {
  border-radius: 30px;
  background-color: orange;
  color: black;
}

footer {
  border-top: solid 1px var(--color-decorate);
  color: grey;
  background: linear-gradient(to left, #1c1b1b, #282525);
  position: relative;
  text-align: right;
  max-height: 30px;
  padding-right: 5px;
  width: 100%;
}

main {
  min-height: 600px;
  background: linear-gradient(to top, #f1c779, #ffba39);
}

.toDownload--main {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  text-align: center;
  width: 100%;
  justify-content: space-around;
}

.toDownload--main .toDownload--option {
  /*  border: solid 2px black;
        background: linear-gradient(to top, rgb(58, 57, 58), rgb(255, 186, 57)); */
  border-radius: 20px;
  height: 800px;
  width: 500px;
  margin-bottom: 20px;
}

.toDownload--main .toDownload--option .toDownload--option--title {
  border-bottom: solid 3px black;
  font-size: 30px;
  margin-bottom: 30px;
  cursor: pointer;
}

.toDownload--main .toDownload--option .toDownload--option--list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.toDownload--main .toDownload--option .toDownload--option--list .option--list {
  margin: 10px;
  font-size: 20px;
  border: solid 1px black;
  background: linear-gradient(to left, #494545, #282525);
  color: orange;
  height: 300px;
  width: 200px;
}

.toDownload--main .toDownload--option .toDownload--option--list .option--list .option--list--file {
  height: 250px;
  width: 100%;
  margin: auto a;
}

.toDownload--main .toDownload--option .toDownload--option--list .option--list .option--list--file .option--list--file--photo {
  align-items: center;
  margin-top: 10px;
  max-width: 180px;
  max-height: 240px;
}

.toDownload--main .toDownload--option .toDownload--option--list .option--list .option--list--title {
  margin-top: 10px;
  height: 50px;
  width: 100%;
}

.refs--main {
  display: flex;
  flex-direction: column;
  height: 1900px;
  align-items: center;
}

.refs--main .list--refs--title {
  border-radius: 10px;
  text-align: center;
  color: black;
  font-size: 24px;
  font-weight: 600;
  height: 80px;
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: -4px -4px 5px black;
  background: linear-gradient(to top, rgba(235, 161, 3, 0.799), #ffba39);
}

.refs--main .list--refs {
  /*       background: linear-gradient(to top, rgba(235, 161, 3, 0.799), rgb(255, 186, 57)); */
  background: linear-gradient(60deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5));
  /*             background: linear-gradient(to bottom, rgb(58, 57, 58), rgb(255, 186, 57)); */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  height: 1700px;
  width: 1100px;
  box-shadow: 2px 2px 10px black;
}

.refs--main .list--refs .league {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.refs--main .list--refs .league .league--title {
  border-radius: 12px;
  height: 40px;
  width: 150px;
  font-size: 30px;
  /*                 text-decoration: underline; */
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  /* box-shadow: 4px 0px 5px black; */
  background: linear-gradient(to top, rgba(235, 161, 3, 0.799), #ffba39);
}

.refs--main .list--refs .league .league--persons {
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 250px;
  width: 90%;
  /*                 background: linear-gradient(60deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)); */
  background: linear-gradient(to bottom, #3a393a, #14120f);
}

.refs--main .list--refs .league .league--persons .ref--person--logo {
  background: linear-gradient(to top, rgba(235, 161, 3, 0.799), #ffba39);
  border-radius: 8px;
  max-width: 200px;
  max-height: 300px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  transform: scale(1);
  transition: transform 0.3s;
}

.refs--main .list--refs .league .league--persons .ref--person--logo .ref--person--image {
  /*             border: solid 3px orange; */
  border-radius: 12px;
  max-height: 150px;
  max-width: 150px;
  /*    box-shadow: 4px 4px 20px black; */
}

.refs--main .list--refs .league .league--persons .ref--person--logo .ref--person--name {
  text-align: center;
  width: 160px;
  color: black;
  text-shadow: 5px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 5px;
}

.refs--main .list--refs .league .league--persons .ref--person--logo2 {
  background-color: #dd1c1c;
  border-radius: 8px;
  max-width: 200px;
  max-height: 300px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  transform: scale(1);
  transition: transform 0.3s;
}

.refs--main .list--refs .league .league--persons .ref--person--logo2 .ref--person--image {
  /*             border: solid 3px orange; */
  border-radius: 12px;
  max-height: 150px;
  max-width: 150px;
  /*    box-shadow: 4px 4px 20px black; */
}

.refs--main .list--refs .league .league--persons .ref--person--logo2 .ref--person--name {
  text-align: center;
  width: 160px;
  color: black;
  text-shadow: 5px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 5px;
}

.refs--main .list--refs .league .league--persons .ref--person--logo:hover {
  transform: scale(1.2);
}

.refs--main .list--refs .league .league--persons .ref--person--logo2:hover {
  transform: scale(1.2);
}

#popup--main,
#popup--main2 {
  display: none;
  position: fixed;
  border: solid 6px black;
  background: linear-gradient(to bottom, #cecace, #ffba39);
  height: 400px;
  width: 1000px;
  z-index: 100;
  left: 200px;
  top: 200;
  flex-direction: row;
}

.popup--photo--field {
  border: solid 2px black;
  max-height: 200px;
  max-width: 200px;
  margin: 10px;
  /*    overflow: hidden; */
}

.popup--photo {
  max-height: 196px;
  max-width: 196px;
}

.popup--container {
  display: flex;
  height: 400px;
  width: 1000px;
  flex-direction: column;
  align-items: center;
}

.popup--name {
  color: black;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1px;
  height: 50px;
  width: 80%;
  text-align: center;
  margin-top: 20px;
}

.popup--description {
  color: black;
  margin: 20px;
}

#popup--btn {
  width: 40px;
  position: relative;
  padding: 5px;
  border: solid 1px orange;
  background-color: black;
  color: orange;
  left: 360px;
  bottom: 200px;
  font-size: 16px;
}
