@import "_template.scss";
@import "_variables.scss";

nav {
    .nav--box {
        & a#cast {
            background: $bg-color-orange-dark;
            border-radius: 12px;
            color: black;
        }
    }
}

.container--title {
    @include title;
    cursor: pointer;
}

.cast--container {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 92vw;

    &--month {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;

        .cast--container--month--boxWeeks,
        .table--container {
            display: none;
        }

        &--title {
            background: $bg-color-black;
            border: solid 1px orange;
            border-radius: 12px;
            color: orange;
            font-size: 1.2rem;
            margin: 10px auto;
            padding: 8px 0;
            width: 20vw;
        }

        &--boxWeeks {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 20px;

            &--week {
                background: $bg-color-black;
                border: solid 1px orange;
                border-radius: 10px;
                color: rgb(255, 166, 0);
                font-size: 0.8rem;
                padding: 4px 30px;
                width: auto;
            }
        }

        .table--title {
            color: orange;
            cursor: pointer;
            font-weight: 400;
            letter-spacing: 1px;
            text-align: center;
            background: $bg-color-black;
            border: solid 1px orange;
            font-size: 1rem;
            margin: 10px auto;
            padding: 10px;
            width: max-content;
        }

        .table--container {
            margin-bottom: 20px;
            overflow: auto;

            .awarded {
                color: bisque;
            }

            .awarded--small {
                color: bisque;
                font-size: 0.8rem;
            }

            table,
            table * {
                background: $bg-color-black;
                border: solid 1px orange;
                color: orange;
                cursor: pointer;
                font-size: 1rem;
                margin: 20px auto;
                padding: 3px;
                width: 78vw;

                th {
                    font-weight: 100;
                    text-align: center;
                }

                tr {
                    td {
                        color: orange;
                        padding: 5px;
                        text-align: center;
                    }
                }
            }
        }


    }

    .active {
        background: $bg-color-orange-dark;
        border: solid 2px black;
        color: black;
    }

    .active--week {
        background: $bg-color-orange-dark;
        border: solid 2px black;
        border-radius: 12px;
        color: black;
    }
}


@include breakPoint(large) {

    .container--title {
        @include title--large;
    }

    .cast--container {
        width: 92vw;

        &--month {

            width: 92vw;


            &--boxWeeks {

                flex-wrap: wrap;

                &--week {

                    margin: 5px;
                }

            }

            .table--container {
                overflow: auto;

                table,
                table * {
                    background: $bg-color-black;
                    border: solid 1px orange;
                    color: orange;
                    cursor: pointer;
                    font-size: 0.9rem;
                    margin: 6px auto;
                    padding: 3px;
                    width: 90vw;
                }
            }

        }
    }

}

@include breakPoint(medium) {
    .cast--container {
        width: 92vw;

        &--month {
            &--title {
                background: $bg-color-black;
                border: solid 1px orange;
                border-radius: 12px;
                color: orange;
                font-size: 1rem;
                margin: 10px auto;
                padding: 8px 0;
                width: 20vw;
            }

            .table--title {
                color: orange;
                cursor: pointer;
                font-size: 18px;
                font-weight: 400;
                letter-spacing: 1px;
                text-align: center;
                background: $bg-color-black;
                border: solid 1px orange;
                font-size: 0.8rem;
                margin: 10px auto;
                padding: 8px 0;
                width: 50vw;
            }

            .table--container {
                overflow: auto;

                table,
                table * {
                    background: $bg-color-black;
                    border: solid 1px orange;
                    color: orange;
                    cursor: pointer;
                    font-size: 0.9rem;
                    margin: 6px auto;
                    padding: 3px;
                    width: 90vw;
                }
            }

        }

        .active {
            font-size: 1rem;
        }
    }

}

@include breakPoint (small) {
    .container--title {
        @include title--small;
    }

    .cast--container {
        width: 92vw;

        &--month {
            &--title {
                background: $bg-color-black;
                border: solid 1px orange;
                border-radius: 12px;
                color: orange;
                font-size: 1rem;
                margin: 10px auto;
                padding: 8px;
                width: auto;
            }

            &--boxWeeks {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                &--week {
                    margin: 4px;
                }

            }


            .table--container {
                overflow: auto;

                table,
                table * {
                    background: $bg-color-black;
                    border: solid 1px orange;
                    color: orange;
                    cursor: pointer;
                    font-size: 0.8rem;
                    margin: 6px auto;
                    padding: 3px;
                    width: 90vw;
                }
            }

        }

        .active {
            font-size: 1rem;
        }
    }

}