/* body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background-color: orange;
}

body::-webkit-scrollbar-thumb {
    background-color: black;

} */
* {
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes animationHeader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body,
html {
  background: linear-gradient(to top, #352e1f, #31291b);
  min-height: 100vh;
  position: relative;
  max-width: 100%;
  width: 100vw;
}

body main,
html main {
  min-height: 100vh;
}

body header,
html header {
  border: solid 1px orange;
  background: linear-gradient(to left bottom, #171717, #2b2a2a);
  border-radius: 12px;
  display: flex;
  height: 16vh;
  width: 92vw;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}

body header .header--logo,
html header .header--logo {
  position: relative;
  height: 140px;
  width: auto;
  top: 30px;
}

body header .header--logo--img,
html header .header--logo--img {
  display: block;
  max-height: 70%;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 5px;
}

body header .header--logo2,
html header .header--logo2 {
  position: relative;
  height: 16vh;
  width: 12vw;
  top: 1vh;
}

body header .header--title,
html header .header--title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 16vh;
  color: #ffa600;
  transition: 2s;
  width: 60vw;
}

body header .header--title h1,
html header .header--title h1 {
  color: #ffa600;
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 2px;
  text-shadow: 2px 2px black;
  transition: 2s;
  animation-name: animationHeader;
  animation-duration: 5s;
  text-align: center;
}

body header .header--title h3,
html header .header--title h3 {
  opacity: 0;
  color: #ffa600;
  font-weight: 700;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px black;
  transition: 2s;
  animation-name: animationHeader;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  text-align: center;
  margin-left: 30vw;
}

body nav,
html nav {
  border-radius: 12px;
  background: linear-gradient(to left bottom, #171717, #2b2a2a);
  border: solid 1px orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25em;
  height: 8vh;
  width: 92vw;
  margin: 0 auto;
}

body nav .nav--box,
html nav .nav--box {
  display: flex;
  justify-content: space-around;
  width: 60%;
  align-items: center;
}

body nav .nav--box a,
html nav .nav--box a {
  align-items: center;
  color: #ffa600;
  text-decoration: none;
  padding: 0.5rem;
  transition: 1s;
}

body nav .nav--box a:hover,
html nav .nav--box a:hover {
  border-radius: 30px;
  background-color: #ffa600;
  color: black;
}

body footer,
html footer {
  border-top: solid 1px #ffa600;
  color: #ffa600;
  background: linear-gradient(to left, #1c1b1b, #282525);
  position: relative;
  bottom: 0;
  text-align: right;
  max-height: 30px;
  padding-right: 5px;
  width: 100%;
}

@media (max-width: 550px) {
  body header .header--logo,
  html header .header--logo {
    height: 70px;
    margin-bottom: 22vw;
  }
  body header .header--title h1,
  html header .header--title h1 {
    font-size: 1.5rem;
  }
  body header .header--title h3,
  html header .header--title h3 {
    font-size: 1rem;
  }
  body nav,
  html nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.25em;
    height: 48vh;
    padding: 1rem;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
  }
  body nav .nav--box,
  html nav .nav--box {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  body nav .nav--box a,
  html nav .nav--box a {
    text-decoration: none;
    transition: 1s;
  }
  body nav .nav--box a:hover,
  html nav .nav--box a:hover {
    border-radius: 30px;
  }
}

@keyframes testAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container--title {
  font-size: 1.5rem;
  height: 50px;
  margin: 20px auto;
  display: flex;
  width: 92vw;
}

.container--title .title {
  position: relative;
  left: 30vw;
  border: solid 1px orange;
  background: linear-gradient(to left bottom, #171717, #2b2a2a);
  border-radius: 8px;
  text-align: center;
  color: #ffa600;
  height: 50px;
  width: 30vw;
  padding-top: 5px;
}

.container--title .btn--index {
  position: relative;
  height: 40px;
  width: 8vw;
  font-size: 1rem;
  left: 50vw;
  border: solid 1px orange;
  padding-top: 6px;
  background: linear-gradient(to left bottom, #171717, #2b2a2a);
  border-radius: 8px;
  text-align: center;
  color: #ffa600;
  margin-bottom: 5px;
}

.container--title .btn--index a {
  text-decoration: none;
  color: orange;
}

.refs--container {
  display: grid;
  grid-template-columns: 10vw 16vw 2vw 16w 2vw 16vw 2vw 16vw 10vw;
  grid-template-rows: 8vh 42vh 4vh 42vh 4vh 42vh 8vh;
  height: 150vh;
  margin: 0px auto;
  width: 90vw;
}

.refs--container--person {
  align-items: center;
  animation-name: testAnimation;
  animation-duration: 3s;
  background: linear-gradient(to bottom, #3a393a, #ffba39);
  border: solid 3px black;
  border-radius: 10px;
  box-shadow: 0 0 16px 1px black;
  color: orange;
  display: flex;
  flex-direction: column;
  height: 40vh;
  justify-content: center;
  margin-top: 10px;
  transform: scale(1);
  transition: transform 0.3s;
  width: 18vw;
}

.refs--container--person--logo {
  align-items: center;
  border-radius: 90px;
  color: black;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  max-width: 10vw;
  max-height: auto;
}

.refs--container--person--logo--image {
  border: solid 1px black;
  border-radius: 4px;
  max-height: auto;
  max-width: 88%;
  overflow: hidden;
}

.refs--container--person--logo--name {
  color: black;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding-top: 5px;
  text-align: center;
  text-shadow: 5px;
  width: 17vw;
}

.refs--container--person--logo p {
  font-size: 1.2rem;
  text-align: center;
  width: 18vw;
}

.refs--container--person#AA {
  grid-column: 2/3;
  grid-row: 2/3;
}

.refs--container--person#BA {
  grid-column: 4/5;
  grid-row: 2/3;
}

.refs--container--person#CJ {
  grid-column: 6/7;
  grid-row: 2/3;
}

.refs--container--person#MJ {
  grid-column: 8/9;
  grid-row: 2/3;
}

.refs--container--person#CK {
  grid-column: 2/3;
  grid-row: 4/5;
}

.refs--container--person#KE {
  grid-column: 4/5;
  grid-row: 4/5;
}

.refs--container--person#KP {
  grid-column: 6/7;
  grid-row: 4/5;
}

.refs--container--person#PK {
  grid-column: 8/9;
  grid-row: 4/5;
}

.refs--container--person#FD {
  grid-column: 2/3;
  grid-row: 6/7;
}

.refs--container--person#SR {
  grid-column: 4/5;
  grid-row: 6/7;
}

.refs--container--person#DA {
  grid-column: 6/7;
  grid-row: 6/7;
}

.refs--container--person#TB {
  grid-column: 8/9;
  grid-row: 6/7;
}

.refs--container .refs--container--person:hover {
  transform: scale(1.2);
}

.popup--main {
  background: linear-gradient(to bottom, #3a393a, #ffba39);
  border: solid 3px black;
  border-radius: 12px;
  color: black;
  display: none;
  flex-direction: row;
  height: 61vh;
  left: 10vw;
  position: fixed;
  width: 80vw;
  z-index: 100;
}

.popup--main .popup--photo--field {
  align-items: center;
  border-right: solid 1px black;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: center;
  padding: 10px;
  width: 16vw;
}

.popup--main .popup--photo--field .popup--photo {
  border: solid 1px black;
  border-radius: 4px;
  max-height: auto;
  width: 14vw;
}

.popup--main .popup--photo--field .popup--photo--text {
  max-height: auto;
  max-width: 16vw;
}

.popup--main .popup--photo--field .popup--photo--text p {
  font-size: 1.2rem;
  margin-top: 10px;
  text-align: center;
}

.popup--main .popup--container {
  align-items: center;
  border-right: solid 1px black;
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin: 0 auto;
  padding-left: 10px;
  width: 44vw;
}

.popup--main .popup--container .popup--name {
  color: orange;
  font-weight: 300;
  font-size: 2rem;
  height: 50px;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 0.1rem 0.1rem black;
  margin-top: 20px;
  width: 40vw;
}

.popup--main .popup--container .popup--name .popup--btn {
  background: transparent;
  border: solid 2px orange;
  border-radius: 8px;
  bottom: 0.5vw;
  color: orange;
  font-size: 16px;
  font-weight: 600;
  left: 10vw;
  position: relative;
  padding: 5px;
  text-decoration: bold;
  width: 40px;
}

.popup--main .popup--container .popup--description {
  color: black;
  font-size: 1.3rem;
  margin: 20px;
  overflow-y: auto;
  padding-right: 10px;
  padding-top: 10px;
  width: 40vw;
}

.popup--main .popup--container .popup--description p {
  text-indent: 2vw;
}

.popup--main .popup--static {
  height: 60vh;
  margin: 20px auto;
  padding-left: 10px;
  width: 18vw;
}

.popup--main .popup--static .static--title {
  border-bottom: solid 1px orange;
  color: orange;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 15vw;
  text-align: center;
}

.popup--main .popup--static .static--table {
  font-size: 1.2rem;
  height: 300px;
  max-width: 10vw;
  text-align: center;
}

.popup--main .popup--static .static--table table {
  margin: 0 auto;
  max-width: 10vw;
}

.popup--main .popup--static .static--table table th {
  font-size: 1rem;
  padding: 6px;
}

.popup--main .popup--static .static--table table th .table--image {
  max-height: 50px;
  max-width: 50px;
}

.popup--main .popup--static .static--table table td {
  border-radius: 12px;
  font-size: 1rem;
  padding: 6px;
}

.popup--main .popup--static .static--table table .dark {
  background-color: #d29422;
  border-radius: 12px;
}

.popup--main .popup--static p {
  bottom: 10px;
  font-size: 0.8rem;
  position: absolute;
  right: 10px;
}

@media (max-width: 550px) {
  .container--title {
    font-size: 1.5rem;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    height: 30vw;
    width: 96vw;
    justify-content: space-around;
    align-items: center;
  }
  .container--title .title {
    position: relative;
    border: solid 1px orange;
    background: linear-gradient(to left bottom, #171717, #2b2a2a);
    border-radius: 8px;
    text-align: center;
    color: #ffa600;
    padding-top: 5px;
    font-size: 1.8rem;
    height: 16vw;
    width: 50vw;
    left: 0;
  }
  .container--title .btn--index {
    position: relative;
    border: solid 1px orange;
    padding-top: 6px;
    background: linear-gradient(to left bottom, #171717, #2b2a2a);
    border-radius: 8px;
    text-align: center;
    color: #ffa600;
    margin-bottom: 5px;
    font-size: 0.8rem;
    height: 8vw;
    left: 30vw;
    width: 30vw;
  }
  .container--title .btn--index a {
    text-decoration: none;
    color: orange;
  }
  .container--title .title {
    width: 90vw;
    font-size: 1.3rem;
    text-align: center;
  }
  .refs--container {
    display: flex;
    flex-direction: column;
    height: 3300px;
    align-items: center;
    margin-bottom: 20px;
  }
  .refs--container--title {
    font-size: 1.2rem;
    height: 50px;
    width: 96vw;
  }
  .refs--container--list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    width: 100%;
  }
  .refs--container--list .ref--person--container {
    margin-top: 10px;
  }
  .refs--container--list .ref--person--container .ref--person--logo {
    margin-top: 10px;
  }
  .refs--container--list .ref--person--container .ref--person--logo .ref--person--name {
    font-size: 1rem;
  }
  .refs--container--list .ref--person--container .ref--person--description {
    font-size: 1rem;
  }
  .refs--container--list .ref--person--container .ref--person--description--shortDescritpion {
    color: black;
    font-size: 1rem;
  }
  .refs--container--list .ref--person--container .ref--person--description--button {
    border: solid 2px orange;
    color: orange;
    border-radius: 10px;
    background: linear-gradient(to right, #1c1b1b, #282525);
    cursor: pointer;
    bottom: 5px;
    font-size: 12px;
    right: 85px;
    padding: 5px;
    position: absolute;
    text-decoration: none;
  }
  .refs--container--list .ref--person--logo:hover {
    transform: scale(1.2);
  }
  .popup--main {
    height: 500px;
    width: 92vw;
    left: 10px;
    top: 100px;
    flex-direction: column;
    overflow-x: scroll;
  }
  .popup--main .popup--photo--field {
    max-height: 400px;
    max-width: auto;
    margin: 10px auto;
    border-right: none;
    border-bottom: solid 1px black;
    padding-right: 0px;
    padding-bottom: 10px;
  }
  .popup--main .popup--photo--field .popup--photo {
    align-items: center;
    border-radius: 4px;
    max-height: 100%;
    max-width: 100%;
  }
  .popup--main .popup--photo--field .popup--photo--text {
    max-height: 100%;
    max-width: 100%;
  }
  .popup--main .popup--photo--field .popup--photo--text p {
    font-size: 1rem;
    text-align: center;
    margin-top: 10px;
  }
  .popup--main .popup--container {
    display: flex;
    height: 400px;
    width: 92vw;
    flex-direction: column;
    align-items: center;
  }
  .popup--main .popup--container .popup--name {
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1px;
    height: 50px;
    width: 80%;
    text-align: center;
    margin-top: 5px;
  }
  .popup--main .popup--container .popup--description {
    color: black;
    margin: 10px;
    padding: 10px;
    width: 92vw;
    font-size: 1rem;
  }
  .popup--main .popup--container .popup--btn {
    width: 40px;
    position: relative;
    padding: 5px;
    border: solid 2px black;
    background: linear-gradient(to top, #f1b951, #d29422);
    color: black;
    left: 230px;
    bottom: 260px;
    font-size: 16px;
    font-weight: 600;
  }
  .popup--main .popup--static {
    height: 400px;
    width: 300px;
    margin: 10px;
    border-left: 0;
    padding-left: 10px;
  }
  .popup--main .popup--static .static--title {
    font-size: 20px;
    max-width: 400px;
    text-align: center;
    border-bottom: solid 1px black;
  }
  .popup--main .popup--static .static--table {
    font-size: 20px;
    height: 300px;
    max-width: 196px;
    text-align: center;
  }
  .popup--main .popup--static .static--table table {
    max-width: 196px;
    margin: 0 auto;
  }
  .popup--main .popup--static .static--table table th {
    padding: 6px;
    font-size: 14px;
  }
  .popup--main .popup--static .static--table table th .table--image {
    max-width: 50px;
    max-height: 50px;
  }
  .popup--main .popup--static .static--table table td {
    padding: 6px;
    font-size: 12px;
  }
  .popup--main .popup--static .static--table table .dark {
    background-color: #d29422;
  }
}
