@import "_template.scss";
@import "_variables.scss";


.container--title {
    @include title;
}

.contact--container {
    background: $bg-color-black;
    border-radius: 8px;
    border: solid 1px orange;
    margin: 30px auto;
    min-height: 70vh;
    width: 66vw;

    .contact--container--box {
        display: flex;
        flex-direction: column;
        height: 110vh;
        justify-content: space-around;
        margin: 0 auto;
        width: 66vw;

        .contact--container--person--left {

            @include contact--container--person;

            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
            border-left: none;
        }

        .contact--container--person--right {

            @include contact--container--person;
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
            border-right: none; 
            position: relative;    
            align-self: flex-end;
            right: 2px;
        }
    }
}


@include breakPoint(xlarge) {

    .container--title {

        .title {
            left: 30vw;
            width: 40vw;
        }

        .btn--index {
            left: 44vw;
            width: 9vw;
        }

    }

}

@include breakPoint(large) {

    .container--title {
        @include title--small;

        .title {
            font-size: 1.2rem;
            padding-top: 0.5em;
        }
    }

    .contact--container {

        min-height: 10vh;
        width: 96vw;

        .contact--container--box {
            height: 140vh;
            width: 96vw;

            .contact--container--person--left,
            .contact--container--person--right {
                height: 30vh;
                text-align: center;
                width: 92vw;

                &--title {
                    max-height: 20vh;
                    max-width: 82vw;
                }

                &--box {

                    height: 30vh;
                    width: 92vw;

                    &--photo {
                        align-self: flex-start;
                        height: 26vh;

                        margin-top: 10px;
                        width: auto;
                    }

                    &--text {
                        height: 20vh;
                        margin-top: 10vw;
                        text-align: center;
                        width: 50vw;
                    }
                }
            }
        }
    }
}