@import "_template.scss";
@import "_variables.scss";


.container--title {
    @include title;
}

.toDownload--container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    justify-content: space-around;

    &--singleBox {
        border: solid 2px black;
        background: $bg-color-black-orange-bottom;
        border-radius: 20px;
        height: 400px;
        width: 300px;

        &--title {
            border-bottom: solid 3px black;
            font-size: 2rem;
            margin-bottom: 30px;
            color: orange;
        }

        &--list {
            flex-direction: column;
            display: flex;

            &--option {
                margin: 10px;
                font-size: 1.5rem;
                border: solid 1px black;
                background: $bg-color-black;
                color: orange;

                & a {
                    color: orange;
                    text-decoration: none;
                }
            }
        }
    }
}


@include breakPoint(small) {

    .container--title {
        width: 96vw;
    }

    .toDownload--container {
        flex-direction: column;
        width: 96vw;
        align-items: center;
        margin: 20px auto;

        &--singleBox {
            width: 90vw;
            margin: 10px auto;
        }
    }
}