@import "_template.scss";
@import "_variables.scss";


.container--title {
    @include title;
}

.toDownload--container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    text-align: center;
    width: 98vw;

    &--singleBox {
        background: $bg-color-black-orange-bottom;
        border: solid 2px black;
        border-radius: 20px;
        height: 45vh;
        width: 22vw;

        &--title {
            border-bottom: solid 3px black;
            color: orange;
            font-size: 2rem;
            margin-bottom: 30px;
        }

        &--list {
            display: flex;
            flex-direction: column;

            &--option {
                background: $bg-color-black;
                border: solid 1px black;
                color: orange;
                font-size: 1.5rem;
                margin: 10px;

                & a {
                    color: orange;
                    text-decoration: none;
                }
            }
        }
    }
}


@include breakPoint(xlarge) {

    .container--title {
        .title {
            left: 30vw;
            width: 40vw;
        }

        .btn--index {
            left: 44vw;
            width: 9vw;
        }

    }

}

@include breakPoint(large) {

    .container--title {
        @include title--small;
    }

    .toDownload--container {
        flex-direction: column;
        width: 96vw;
        align-items: center;
        margin: 20px auto;

        &--singleBox {
            width: 90vw;
            margin: 10px auto;
        }
    }
}