@import "_template.scss";
@import "_variables.scss";
@import "_mixins.scss";

@keyframes testAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container--title {
    @include title;
}

.news--container {
    background: $bg-color-black-orange-bottom;
    border: solid 2px black;
    border-radius: 12px;
    display: flex;
    height: 500px;
    width: 1300px;
    margin: 20px auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .news--title--box {
        background: $bg-color-black;
        border: solid 1px black;
        border-radius: 8px;
        display: flex;
        height: 50px;
        width: 240px;

        h2 {
            color: orange;
            font-weight: 300;
            /*             font-size: 24px; */
            text-shadow: 1px 0px black;
            margin: 5px auto;
            letter-spacing: 1px;
        }
    }

    .news--box {

        height: 320px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 1200px;
        justify-content: space-around;

        article {
            border: solid 2px black;
            background: linear-gradient(to bottom, rgb(23, 23, 23), rgb(255, 186, 57));
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 300px;
            width: 280px;
            box-shadow: 4px 4px black;
            transition: 0.5s;
            transform: scale(1);

            .article--image {
                margin: 15px 10px;
                border-radius: 5px;
                max-height: 200px;
                max-width: 280px;

                .article--image--file {
                    border-radius: 5px;
                    height: 100%;
                    width: 100%;
                }
            }
        }

        article:hover {
            transform: scale(1.1);
            z-index: 100;
        }

        article a {
            display: flex;
            border: solid 2px black;
            background-color: orange;
            border-radius: 12px;
            min-height: 50px;
            width: 80%;
            text-align: center;
            text-decoration: none;
            color: black;
            font-size: 16px;
            justify-content: center;
            align-items: center;
        }

        article a:hover {
            background-color: black;
            color: orange;
        }
    }

    .news--buttons--box {
        display: flex;
        justify-content: center;
        height: 80px;
        width: 1000px;
        align-items: center;

        .news--buttons {
            font-size: 20px;
            border-radius: 0px;
            border: solid 2px black;
            background: $bg-color-black;
            color: orange;
            cursor: pointer;
            margin: 0 10px;
            height: 40px;
            width: 40px;
        }

        .news--buttons--active {
            font-size: 20px;
            border-radius: 0px;
            border: solid 2px black;
            background: orange;
            color: black;
            cursor: pointer;
            margin: 0 10px;
            height: 40px;
            width: 40px;

            & a {
                color: black;
            }
        }

        & a {
            color: orange;
            text-decoration: none;
        }


    }


}


// tylko to co ma się zmienić  - TEST

@include breakPoint (small) {

    .news--container {
        display: flex;
        height: 100%;
        width: 96vw;
        margin: 20px auto;
        flex-direction: row;

        .news--title--box {
            display: flex;
            height: 50px;
            width: 80vw;
            margin: 2vh auto;
        }

        .news--box {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 96vw;
            justify-content: space-around;

            article {
                margin: 2vh auto;

            }
        }
    }
}