@import "_template.scss";
@import "_variables.scss";
@import "_mixins.scss";

@keyframes testAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container--title {
    @include title;
}

.news--container {
    align-items: center;
    background: $bg-color-black-orange-bottom;
    border: solid 2px black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 68vh;
    justify-content: space-around;
    margin: 20px auto;
    width: 94vw;

    .news--box {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 46vh;
        justify-content: space-around;
        width: 90vw;

        article {
            @include article;
        }

        article:hover {
            transform: scale(1.15);
            z-index: 100;
        }

        article a {
        @include article--a;
        }

        article a:hover {
            background-color: black;
            color: orange;
        }
    }
    
    @include buttons-box;
}


// tylko to co ma się zmienić  - TEST

@include breakPoint (small) {

    .container--title {
        width: 92vw;
    }

    .news--container {
        display: flex;
        height: 100%;
        width: 92vw;
        margin: 20px auto;
        flex-direction: row;

        .news--title--box {
            display: flex;
            height: 50px;
            width: 80vw;
            margin: 2vh auto;
        }

        .news--box {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 96vw;
            justify-content: space-around;

            article {
                margin: 2vh auto;

            }
        }

        @include buttons-box;
    }
}