@import "_template.scss";
@import "_variables.scss";


.container--title {
    @include title;
    cursor: pointer;
}


.cast--container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1.5rem;
    text-align: center;
    width: 1000px;

    &--month {

        background: linear-gradient(to right, rgb(28, 27, 27), rgb(40, 37, 37));
        border: solid 1px black;
        color: orange;
        width: 600px;
        margin: 10px auto;
        padding: 4px 0;

        &--week {
            border: solid 1px black;
            border-radius: 10px;
            background: linear-gradient(to right, rgb(28, 27, 27), rgb(40, 37, 37));
            color: orange;
            padding: 4px 30px;
            font-size: 1rem;
        }
    }

    #august,
    #september {
        display: none;
        padding: 20px;
        margin: 0 auto;
        justify-content: space-between;
        width: 80%;
    }

    #august_06_07,
    #august_13_14,
    #sept_13_14 {
        border-radius: 12px;
        display: none;
        background: linear-gradient(to right, rgb(44, 44, 44), rgb(32, 31, 31));
        width: 1000px;
        margin: 20px;

        .table--title {
            color: orange;
            cursor: pointer;
            font-size: 18px;
            font-weight: 400;
            text-align: center;
            padding-top: 30px;
            letter-spacing: 1px;
        }

        table,
        table * {
            border: solid 1px black;
            color: orange;
            cursor: pointer;
            padding: 5px;
            margin: 20px auto;
            font-size: 1rem;
        }

        table th {
            text-align: center;
            font-weight: 100;
        }

    }
}

@include breakPoint(small) {

    .container--title {
        width: 92vw;
    }

    .cast--container {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        cursor: pointer;
        font-size: 1.5rem;
        text-align: center;
        width: 92vw;

        &--month {

            width: 92vw;

            &--week {
                width: 90vw;
                margin: 10px 0;

            }
        }

        #august,
        #september {
            display: none;
            padding: 20px;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            width: 80%;
        }

        #august_06_07,
        #august_13_14,
        #sept_13_14 {
            width: 92vw;

            .table--title {
                color: orange;
                cursor: pointer;
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                padding-top: 30px;
                letter-spacing: 1px;
            }

            table,
            table * {
                border: solid 1px black;
                color: orange;
                cursor: pointer;
                padding: 5px;
                margin: 20px auto;
                font-size: 0.7rem;
            }

            table th {
                text-align: center;
                font-weight: 100;
            }

        }
    }

}