@import "_template.scss";
@import "_variables.scss";

nav {
    .nav--box {
        & a#cast {
            background: $bg-color-orange-dark;
            border-radius: 12px;
            color: black;
        }
    }
}


.container--title {
    @include title;
    cursor: pointer;
}


.cast--container {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 92vw;

    &--month {

        border: solid 1px red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80vw;

        &--title {
            background: $bg-color-black;
            border: solid 1px orange;
            border-radius: 12px;
            color: orange;
            font-size: 1.2rem;
            margin: 10px auto;
            padding: 8px 0;
            width: 20vw;
        }

        &--boxWeeks {
            display: flex;
            flex-direction: row;
            border: solid 1px yellow;
            justify-content: space-around;

            &--week {
                background: $bg-color-black;
                border: solid 1px orange;
                border-radius: 10px;
                color: rgb(255, 166, 0);
                font-size: 0.8rem;
                padding: 4px 30px;
                width: 10vw;
            }

            &--table {
                border: solid 1px green;
            }
        }

        .table--title {
            color: orange;
            cursor: pointer;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 1px;
            text-align: center;
            padding-top: 30px;
        }

        .table--container {
            overflow: auto;

            table,
            table * {
                border: solid 1px grey;
                color: orange;
                cursor: pointer;
                font-size: 1rem;
                margin: 10px auto;
                padding: 3px;
                width: 78vw;


                th {
                    font-weight: 100;
                    text-align: center;
                }

                tr {
                    td {
                        padding: 5px;
                        text-align: center;
                    }
                }
            }
        }


    }

    &--month-reverse {

        background: $bg-color-orange-dark;
        border: solid 2px black;
        border-radius: 12px;
        color: black;
        font-size: 1.2rem;
        margin: 10px auto;
        padding: 8px 0;
        width: 20vw;

        &--week-reverse {
            background: $bg-color-black;
            border: solid 1px black;
            border-radius: 10px;
            color: rgb(255, 166, 0);
            font-size: 0.8rem;
            padding: 4px 30px;
        }
    }

    .active {
        background-color: red;
        color: white;
        border: solid 3px white;
    }


    #august,
    #september {
        display: none;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px;
        width: 80%;
    }

    #august_06_07,
    #august_13_14,
    #sept_13_14 {
        background: $bg-color-black;
        border-radius: 12px;
        display: none;
        margin: 20px;
        width: 92vw;

        .table--title {
            color: orange;
            cursor: pointer;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 1px;
            text-align: center;
            padding-top: 30px;
        }

        table,
        table * {
            border: solid 1px black;
            color: orange;
            cursor: pointer;
            font-size: 1rem;
            margin: 20px auto;
            padding: 5px;
        }

        table th {
            font-weight: 100;
            text-align: center;
        }
    }
}

@include breakPoint(xlarge) {

    .container--title {

        .title {
            left: 30vw;
            width: 40vw;
        }

        .btn--index {
            left: 44vw;
            width: 9vw;
        }

    }

}

@include breakPoint(large) {

    .container--title {
        @include title--large;
    }

    .cast--container {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        cursor: pointer;
        font-size: 1.5rem;
        text-align: center;
        width: 92vw;

        &--month {

            width: 92vw;

            &--week {
                width: 90vw;
                margin: 10px 0;

            }
        }

        #august,
        #september {
            display: none;
            padding: 20px;
            margin: 0 auto;
            flex-direction: column;
            align-items: center;
            width: 80%;
        }

        #august_06_07,
        #august_13_14,
        #sept_13_14 {
            width: 92vw;

            .table--title {
                color: orange;
                cursor: pointer;
                font-size: 18px;
                font-weight: 400;
                text-align: center;
                padding-top: 30px;
                letter-spacing: 1px;
            }

            table,
            table * {
                border: solid 1px black;
                color: orange;
                cursor: pointer;
                padding: 5px;
                margin: 20px auto;
                font-size: 0.7rem;
            }

            table th {
                text-align: center;
                font-weight: 100;
            }

        }
    }

}

@include breakPoint (small) {
    .container--title {
        @include title--small;
    }
}