@import "_template.scss";
@import "_variables.scss";

@keyframes testAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.index--container {
    display: grid;
    grid-template-columns: 2% 17.8% 17.8% 17.8% 17.8% 17.8%;
    grid-template-rows: 10% 10% 10% 70%;
    height: 520px;
    width: 100%;
    margin: 0 auto;

    article {
        border: solid 2px black;
        background: linear-gradient(to bottom, rgb(23, 23, 23), rgb(255, 186, 57));
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 300px;
        width: 300px;
        box-shadow: 4px 4px black;
        transition: 0.5s;
        transform: scale(1);

        .article--image {
            margin: 15px 10px;
            border-radius: 5px;
            max-height: 240px;
            max-width: 280px;

            .article--image--file {
                border-radius: 5px;
                height: 100%;
                width: 100%;
            }
        }
    }

    article:hover {
        transform: scale(1.1);
    }

    article a {
        border: solid 2px black;
        background-color: orange;
        border-radius: 20px;
        height: 30px;
        width: 60%;
        text-align: center;
        text-decoration: none;
        color: black;
        margin-top: 10px;
    }

    article a:hover {
        background-color: black;
        color: orange;
    }

    #article--1 {
        grid-column: 6/7;
        grid-row: 2/3;
    }

    #article--2 {
        grid-column: 5/6;
        grid-row: 3/4;
    }

    #article--3 {
        grid-column: 4/5;
        grid-row: 2/3;
    }

    #article--4 {
        grid-column: 3/4;
        grid-row: 3/4;
    }

    #article--5 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

}
.toDownload--main {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    justify-content: space-around;


    .toDownload--option {

        border: solid 2px black;
        background: linear-gradient(to top, rgb(58, 57, 58), rgb(255, 186, 57));
        border-radius: 20px;
        height: 400px;
        width: 300px;


        .toDownload--option--title {
            border-bottom: solid 3px black;
            font-size: 30px;
            margin-bottom: 30px;
            cursor: pointer;
        }

        .toDownload--option--list {

            flex-direction: column;
            display: flex;

            .option--list {
                margin: 10px;
                font-size: 20px;
                border: solid 1px black;
                background: linear-gradient(to left, rgb(73, 69, 69), rgb(40, 37, 37));
                color: orange;
            }
        }
    }

}



.news--container {

    /*     background: linear-gradient(60deg, rgb(47, 47, 47), rgb(39, 38, 38)); */
    /*     background: linear-gradient(60deg, rgba(27, 27, 27, 0.3), rgba(39, 38, 38, 0.5)); */
    background: $bg-color-black-orange;
    border-radius: 12px;
    display: flex;
    height: 500px;
    width: 1200px;
    margin: 20px auto;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    .news--title--box {
        /*         border: solid 1px orange; */
        border: solid 1px black;
        border-radius: 8px;
        display: flex;
        height: 50px;
        width: 240px;
        background: $bg-color-black;
        /*   background: linear-gradient(60deg, rgb(47, 47, 47), rgb(39, 38, 38)); */

        h2 {
            /*             color: orange; */
            color: orange;
            font-weight: 300;
            font-size: 20px;

            text-shadow: 1px 0px black;
            margin: 5px auto;
            letter-spacing: 1px;
        }
    }

    .news--box {
        height: 320px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1100px;

        .news {
            /*             border: solid 1px orange; */
            border: solid 1px black;
            margin: 10px 10px;
            border-radius: 4px;
            /*             background: linear-gradient(to top, rgb(22, 21, 22), rgb(255, 186, 57)); */
            background: $bg-color-black;
            height: 150px;
            width: 200px;
            box-shadow: 4px 4px 20px black;


            .news--file {
                border-radius: 4px 4px 0 0;
                display: flex;
                height: 80%;
                width: 100%;
                overflow: hidden;
                align-items: center;
                justify-content: center;

                .news--file--photo {

                    height: auto;
                    width: 100%;
                }
            }

            .news--title {
                font-size: 16px;
                color: orange;
                text-align: center;
                height: 20%;
                width: 100%
            }
        }
    }

    .news--buttons--box {
        display: flex;
        justify-content: center;

        height: 80px;
        width: 1000px;
        align-items: center;

        .news--buttons {
            font-size: 16px;
            border-radius: 4px;
            /*             border: solid 2px orange;
            background: linear-gradient(to top, rgb(39, 38, 39), rgb(67, 66, 66));
            color: orange; */

            border: solid 2px black;
            background: $bg-color-black;
            color: orange;
            margin: 0 10px;
            height: 40px;
            width: 40px;
        }


    }


}


.single--news--container {
    border-radius: 8px;
    /*     border: solid 1px orange; */
    background: $bg-color-black;
    box-shadow: 8px 8px black;
    width: 1000px;
    height: 600px;
        margin: 30px auto;
}