@import "_template.scss";
@import "_variables.scss";
@import "_mixins.scss";


main {
    height: 600px;
}



.news--simple--container {
    @include simple--container();

    &--box001 {
        height: 70vh;
        margin: 0 auto;
        width: 60vw;

        h3 {
            @include simple--container--h3;
        }

        p {
            color: orange;
            padding: 8px;
        }
    }

    &--box002 {
        color: orange;
        display: flex;
        margin: 0 auto;
        min-height: 70vh;
        width: 68vw;

        &--text {
            padding-right: 20px;
        }

        p {
            padding: 8px;
        }

        &--image {
            display: flex;
            height: 58vh;
            justify-content: center;
            margin: 0 auto;
            transform: scale(1);
            transition-duration: 3s;
            width: 70vw;

            .image--file {
                max-height: 90%;
                max-width: 90%;
            }
        }

        &--image:hover {
            transform: scale(1.13);
        }

    }

}

.news--simple--container--long {

    @include simple--container();
    height: 150vh;

    &--box003 {
        color: orange;
        margin: 0 auto;
        width: 68vw;

        h3 {
            @include simple--container--h3;
        }

        .news-003--table {
            color: black;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            text-align: center;

            table {
                margin-top: 4vh;

                th {
                    color: orange;
                    font-size: 1rem;
                    font-weight: 200;
                    letter-spacing: 1px;
                    padding: 6px;

                    .col--image {
                        max-height: 50px;
                        max-width: 50px;
                    }

                    .table--image {
                        max-height: 30px;
                        max-width: 30px;
                    }
                }

                td {
                    font-size: 1rem;
                    padding: 6px;

                }

                .tr--title {
                    background-color: rgb(65, 65, 64);
                    color: orange;
                }

                .dark {
                    background-color: rgb(138, 138, 137);

                    th {
                        color: black;
                        font-size: 1rem;
                    }

                }

                .light {
                    background-color: rgb(210, 148, 34);

                    th {
                        color: black;
                        font-size: 1rem;
                    }
                }
            }
        }


    }

    &--box005 {
        color: orange;
        height: 140vh;
        margin: 0 auto;
        width: 68vw;

        h3 {
            @include simple--container--h3;
        }

        &--part1 {
            display: flex;
            flex-direction: row;
            height: 420px;
            margin: 10px auto;
            width: 68vw;

            &--box1,
            &--box2 {
                border-radius: 12px;
                display: flex;
                flex-direction: column;
                height: 54vh;
                justify-content: space-between;
                margin: 10px auto;
                width: 32vw;

                &--logo--left {
                    height: 40vh;
                    width: auto;

                    .--img {
                        border-radius: 12px;
                        max-height: 100%;
                        max-width: 100%;
                    }
                }

                &--logo--right {
                    display: flex;
                    height: 28vh;
                    justify-content: center;
                    width: auto;

                    .--img {
                        border-radius: 12px;
                        max-height: 100%;
                        max-width: 100%;
                    }
                }

                &--text {
                    height: 12vh;
                    margin: 10px auto;
                    width: 30vw;

                    h4 {
                        border-bottom: solid 1px orange;
                        font-weight: 200;
                        font-size: 1.2rem;
                        letter-spacing: 0.5px;
                        margin-bottom: 10px;
                        text-align: center;
                    }

                    p {
                        font-size: 1rem;
                        padding: 2px;
                        text-align: center;
                    }
                }
            }
        }

        &--part2 {
            align-items: center;
            display: flex;
            flex-direction: row;
            height: 60vh;
            justify-content: space-around;
            margin: 2px auto;
            width: 68vw;

            &--person {
                align-items: center;
                border: solid 3px orange;
                border-radius: 12px;
                color: orange;
                display: flex;
                flex-direction: column;
                height: 58vh;
                justify-content: space-around;
                width: vw;

                &--header {
                    font-size: 1.5rem;
                    height: 10vh;
                    text-align: center;
                    width: 22vw;
                }

                &--logo {
                    align-items: center;
                    display: flex;
                    height: 20vh;
                    margin: 2px auto;
                    width: 20vw;

                    &--img {
                        margin: 0 auto;
                        max-height: 90%;
                        max-width: auto;
                    }
                }

                &--text {
                    height: 20vh;
                    margin: 10px auto;
                    text-align: center;
                    width: 90%;

                    h5 {
                        font-size: 1rem;
                        font-weight: 200;
                        height: 6vh;
                        letter-spacing: 1px;
                        text-align: center;
                    }

                    &--img {
                        margin-left: 10px;
                        margin-right: 10px;
                        max-height: 40px;
                        max-width: 40px;
                        position: relative;
                        top: 16px;
                    }

                    p {
                        margin: 10px auto;
                    }
                }
            }
        }
    }

}

.news--simple--container--xlong {

    @include simple--container();
    height: 200vh;

    &--box004 {
        color: orange;
        margin: 0 auto;

        h3 {
            @include simple--container--h3;
        }

        .news004--refBox {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            &--person--container {
                background: $bg-color-grey-orange-bottom;
                border: solid 3px black;
                border-radius: 10px;
                box-shadow: 0 0 16px 1px black;
                color: black;
                display: flex;
                margin-top: 10px;
                min-height: 30vh;
                width: 54vw;

                &--logo {
                    align-items: center;
                    color: black;
                    display: flex;
                    flex-direction: column;
                    margin: auto auto;
                    max-height: 20vh;
                    max-width: 12vw;

                    &--image {
                        border: solid 1px black;
                        border-radius: 4px;
                        max-height: 100%;
                        max-width: 100%;
                        overflow: hidden;
                    }

                    &--name {
                        font-size: 1rem;
                        font-weight: 600;
                        letter-spacing: 1px;
                        text-align: center;
                        padding-top: 5px;
                    }
                }

                &--text {
                    margin: 5px;
                    min-height: 18vh;
                    padding: 5px;
                    width: 34vw;

                    h4 {
                        border-bottom: solid 1px black;
                        letter-spacing: 1px;
                        margin-bottom: 10px;
                        padding: 2px;
                        text-align: center;
                    }

                    &--img {
                        margin-left: 10px;
                        max-height: 40px;
                        max-width: 40px;
                        position: relative;
                        top: 16px;
                    }

                    li {
                        font-size: 1rem;
                        padding: 3px;
                        text-align: left;
                    }
                }
            }
        }
    }


}


@include breakPoint(xlarge) {

    main {
        height: 100vh;
    }

    .news--simple--container {
        @include simple--container--small;
        height: 90vh;

        &--header {
            flex-direction: column;

            h1 {
                font-size: 1rem;
            }

            .news--simple--container--btn--back {
                position: relative;
                bottom: 90px;
                left: 66vw;
            }
        }

        &--box002 {
            color: orange;
            flex-direction: column;
            margin: 0 auto;
            height: 70vh;
            width: 92vw;

            &--text {
                padding-right: 20px;
                text-align: center;
            }

            &--image {
                height: auto;
                transform: scale(1);
                transition: 0s;
                width: 60vw;

                .image--file {
                    max-height: auto;
                    max-width: 100%;
                }
            }

            &--image:hover {
                transform: scale(1);
            }
        }
    }

    .news--simple--container--long {

        height: 160vh;
        width: 86vw;

        &--header {
            flex-direction: column;
            width: 84vw;

            h1 {
                font-size: 1.5rem;
            }

            .news--simple--container--btn--back {
                align-self: flex-end;
            }
        }


        &--box003 {
            //none to change;
        }

        &--box005 {
            height: 140vh;
            width: 80vw;


            &--part1 {
                width: 80vw;

                &--box1,
                &--box2 {
                    width: 36vw;
                }
            }

            &--part2 {

                width: 80vw;

                &--person {

                    width: 34vw;

                    &--header {
                        width: 26vw;
                    }

                    &--logo {
                        width: 24vw;
                    }

                    &--text {
                        width: 100%;

                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

    }


}

@include breakPoint(large) {

    main {
        height: 150vh;
    }

    .news--simple--container {
        @include simple--container--small;
        height: 90vh;

        &--box001 {
            height: 80vh;
            width: 90vw;

            h3 {
                @include simple--container--h3;
                font-size: 1rem;
            }

            p {
                color: orange;
                padding: 8px;
            }
        }

        &--box002 {
            color: orange;
            flex-direction: column;
            margin: 0 auto;
            height: 70vh;
            width: 92vw;

            &--text {
                padding-right: 20px;
                text-align: center;
            }

            &--image {
                height: auto;
                transform: scale(1);
                transition: 0s;
                width: 70vw;

                .image--file {
                    max-height: auto;
                    max-width: 100%;
                }
            }

            &--image:hover {
                transform: scale(1);
            }
        }
    }

    .news--simple--container--long {

        height: 160vh; // to jest okej.
        width: 94vw;

        &--box003 {
            width: 90vw;
        }

        &--box005 {

            //none;
            &--part1 {
                flex-direction: column;
                height: 620px;
                width: 88vw;

                &--box1,
                &--box2 {
                    flex-direction: row;
                    height: 50vh;
                    width: 80vw;

                    &--logo--left {
                        height: 28vh;
                        width: auto;

                    }

                    &--logo--right {
                        height: 28vh;
                        width: auto;
                    }

                    &--text {
                        font-size: 0.8rem;
                        height: 12vh;
                        width: 30vw;
                    }
                }
            }
        }
    }

    .news--simple--container--xlong {

        @include simple--container();
        height: 200vh;

        &--box004 {
            color: orange;
            margin: 0 auto;

            h3 {
                @include simple--container--h3;
            }

            .news004--refBox {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                &--person--container {
                    background: $bg-color-grey-orange-bottom;
                    border: solid 3px black;
                    border-radius: 10px;
                    box-shadow: 0 0 16px 1px black;
                    color: black;
                    display: flex;
                    margin-top: 10px;
                    min-height: 30vh;
                    width: 54vw;

                    &--logo {
                        align-items: center;
                        color: black;
                        display: flex;
                        flex-direction: column;
                        margin: auto auto;
                        max-height: 20vh;
                        max-width: 12vw;

                        &--image {
                            border: solid 1px black;
                            border-radius: 4px;
                            max-height: 100%;
                            max-width: 100%;
                            overflow: hidden;
                        }

                        &--name {
                            font-size: 1rem;
                            font-weight: 600;
                            letter-spacing: 1px;
                            text-align: center;
                            padding-top: 5px;
                        }
                    }

                    &--text {
                        margin: 5px;
                        min-height: 18vh;
                        padding: 5px;
                        width: 34vw;

                        h4 {
                            border-bottom: solid 1px black;
                            letter-spacing: 1px;
                            margin-bottom: 10px;
                            padding: 2px;
                            text-align: center;
                        }

                        &--img {
                            margin-left: 10px;
                            max-height: 40px;
                            max-width: 40px;
                            position: relative;
                            top: 16px;
                        }

                        li {
                            font-size: 1rem;
                            padding: 3px;
                            text-align: left;
                        }
                    }
                }
            }
        }
    }

}

@include breakPoint(medium) {

    main {
        height: 100vh;
    }

    .news--simple--container {
        @include simple--container--small;
        height: 90vh;

        &--box002 {
            color: orange;
            flex-direction: column;
            margin: 0 auto;
            height: 70vh;
            width: 92vw;

            &--text {
                padding-right: 20px;
                text-align: center;
            }

            &--image {
                height: auto;
                transform: scale(1);
                transition: 0s;
                width: 92vw;

                .image--file {
                    max-height: auto;
                    max-width: 100%;
                }
            }

            &--image:hover {
                transform: scale(1);
            }
        }
    }

    .news--simple--container--long {

        height: 150vh;
        width: 96vw;

        &--header {
            h1 {
                font-size: 1.2rem;
            }
        }

        &--box003 {
            height: 120vh;
            width: 94vw;

            .news-003--table {
                table {

                    th {
                        font-size: 0.8rem;
                    }

                    td {
                        font-size: 0.8rem;
                    }

                    .dark {
                        th {
                            font-size: 0.7rem;
                        }
                    }

                    .light {
                        th {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }

        &--box005 {
            height: 135vh;
            width: 88vw;

            h3 {
                @include simple--container--h3;
            }

            &--part1 {
                flex-direction: column;
                height: 620px;
                width: 88vw;

                &--box1,
                &--box2 {
                    flex-direction: row;
                    height: 50vh;
                    width: 88vw;

                    &--logo--left {
                        height: 28vh;
                        width: auto;

                    }

                    &--logo--right {
                        height: 28vh;
                        width: auto;
                    }

                    &--text {
                        font-size: 0.8rem;
                        height: 12vh;
                        width: 30vw;
                    }
                }
            }

            &--part2 {

                height: 30vh;
                width: 88vw;

                &--person {
                    height: 24vh;
                    width: 42vw;

                    &--header {
                        font-size: 1.2rem;
                        height: 6vh;
                        width: 40vw;
                    }

                    &--logo {
                        display: none;
                    }

                    &--text {
                        height: 20vh;

                        h5 {
                            font-size: 1rem;
                            height: 4vh;
                        }

                        p {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }

    }
}


@include breakPoint(small) {

    main {
        height: 100vh;
    }

    .news--simple--container {
        @include simple--container--small;
        height: 90vh;

        &--header {
            flex-direction: column;

            .news--simple--container--btn--back {
                position: relative;
                bottom: 90px;
                left: 66vw;
            }
        }


        &--box002 {
            color: orange;
            flex-direction: column;
            margin: 0 auto;
            height: 70vh;
            width: 92vw;

            &--text {
                padding-right: 20px;
                text-align: center;
            }

            &--image {
                height: auto;
                transform: scale(1);
                transition: 0s;
                width: 92vw;

                .image--file {
                    max-height: auto;
                    max-width: 100%;
                }
            }

            &--image:hover {
                transform: scale(1);
            }
        }
    }

    .news--simple--container--long {

        height: 178vh;
        width: 96vw;

        &--header {
            h1 {
                font-size: 1.2rem;
            }
        }


        &--box003 {
            height: 120vh;

            .news-003--table {

                justify-content: flex-start;
                overflow: scroll;

                table {
                    margin-top: 4vh;

                    th {
                        font-size: 0.8rem;
                    }

                    td {
                        font-size: 0.6rem;
                    }

                    .dark {
                        th {
                            font-size: 0.7rem;
                        }
                    }

                    .light {
                        th {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }

        &--box005 {
            height: 140vh;
            width: 92vw;

            h3 {
                @include simple--container--h3;
            }

            &--part1 {
                flex-direction: column;
                height: 90vh;
                width: 90vw;

                &--box1,
                &--box2 {
                    flex-direction: column;
                    height: 88vh;
                    width: 88vw;

                    &--logo--right {
                        display: none;
                    }

                    &--text {
                        height: 12vh;
                        margin: 10px auto;
                        width: 88vw;
                    }
                }
            }

            &--part2 {
                flex-direction: column;
                height: 48vh;
                width: 90vw;

                &--person {
                    border: none;
                    flex-direction: column;
                    height: 18vh;
                    width: 88vw;

                    &--header {
                        border-bottom: solid 1px orange;
                        font-size: 1rem;
                        height: 10vh;
                        width: 88vw;
                    }

                    &--logo {
                        display: none;
                    }

                    &--text {
                        height: 20vh;
                        width: 90%;

                        h5 {
                            border: none;
                            font-size: 1rem;
                            height: 3vh;
                        }

                        &--img {
                            display: none;
                        }

                        p {
                            font-size: 0.9rem;
                        }
                    }
                }
            }
        }

    }

}