* {
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
}

@keyframes animationHeader {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body,
html {
  background: linear-gradient(to top, #352e1f, #31291b);
  min-height: 100vh;
  position: relative;
  max-width: 100%;
  width: 100vw;
}

body main,
html main {
  min-height: 100vh;
}

body header,
html header {
  border: solid 1px orange;
  background: linear-gradient(to left bottom, #171717, #2b2a2a);
  border-radius: 12px;
  display: flex;
  height: 16vh;
  width: 92vw;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
}

body header .header--logo,
html header .header--logo {
  position: relative;
  height: 140px;
  width: auto;
  top: 30px;
}

body header .header--logo--img,
html header .header--logo--img {
  display: block;
  max-height: 70%;
  max-width: 70%;
  margin: 0 auto;
  margin-top: 5px;
}

body header .header--logo2,
html header .header--logo2 {
  position: relative;
  height: 16vh;
  width: 12vw;
  top: 1vh;
}

body header .header--title,
html header .header--title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 16vh;
  color: #ffa600;
  transition: 2s;
  width: 60vw;
}

body header .header--title h1,
html header .header--title h1 {
  color: #ffa600;
  font-weight: 700;
  font-size: 2.5em;
  letter-spacing: 2px;
  text-shadow: 2px 2px black;
  transition: 2s;
  animation-name: animationHeader;
  animation-duration: 5s;
  text-align: center;
}

body header .header--title h3,
html header .header--title h3 {
  opacity: 0;
  color: #ffa600;
  font-weight: 700;
  font-size: 1.25em;
  letter-spacing: 0.5px;
  text-shadow: 2px 2px black;
  transition: 2s;
  animation-name: animationHeader;
  animation-duration: 5s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  text-align: center;
  margin-left: 30vw;
}

body nav,
html nav {
  border-radius: 12px;
  background: linear-gradient(to left bottom, #171717, #2b2a2a);
  border: solid 1px orange;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.25em;
  height: 8vh;
  width: 92vw;
  margin: 0 auto;
}

body nav .nav--box,
html nav .nav--box {
  display: flex;
  justify-content: space-around;
  width: 60%;
  align-items: center;
}

body nav .nav--box a,
html nav .nav--box a {
  align-items: center;
  color: #ffa600;
  text-decoration: none;
  padding: 0.5rem;
  transition: 1s;
}

body nav .nav--box a:hover,
html nav .nav--box a:hover {
  border-radius: 30px;
  background-color: #ffa600;
  color: black;
}

body footer,
html footer {
  border-top: solid 1px #ffa600;
  color: #ffa600;
  background: linear-gradient(to left, #1c1b1b, #282525);
  position: relative;
  bottom: 0;
  text-align: right;
  max-height: 30px;
  padding-right: 5px;
  width: 100%;
}

@media (max-width: 550px) {
  body header .header--logo,
  html header .header--logo {
    height: 70px;
    margin-bottom: 22vw;
  }
  body header .header--title h1,
  html header .header--title h1 {
    font-size: 1.5rem;
  }
  body header .header--title h3,
  html header .header--title h3 {
    font-size: 1rem;
  }
  body nav,
  html nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.25em;
    height: 42vh;
    padding: 1rem;
    width: 80vw;
    margin: 0 auto;
    align-items: center;
  }
  body nav .nav--box,
  html nav .nav--box {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 90%;
    align-items: center;
  }
  body nav .nav--box a,
  html nav .nav--box a {
    text-decoration: none;
    transition: 1s;
  }
  body nav .nav--box a:hover,
  html nav .nav--box a:hover {
    border-radius: 30px;
  }
}

@keyframes testAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  height: 600px;
}

.news--simple--container {
  border-radius: 8px;
  background: linear-gradient(to left bottom, #171717, #2b2a2a);
  box-shadow: 8px 8px black;
  width: 1000px;
  height: 500px;
  margin: 30px auto;
}

.news--simple--container--header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 900px;
  height: 100px;
  padding-top: 10px;
}

.news--simple--container--header h1 {
  color: #ffa600;
  letter-spacing: 1px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
}

.news--simple--container--header .news--simple--container--btn--back {
  background: linear-gradient(to left bottom, #171717, #2b2a2a);
  border: solid 2px orange;
  font-size: 1rem;
  max-height: 30px;
  width: 80px;
  color: #ffa600;
  cursor: pointer;
  position: relative;
  left: 30px;
}

.news--simple--container--header .news--simple--container--btn--back a {
  color: #ffa600;
  text-decoration: none;
}

.news--simple--container--box001 {
  /*         border: solid 1px orange; */
  height: 450px;
  margin: 0 auto;
  width: 900px;
}

.news--simple--container--box001 h3 {
  border-bottom: solid 2px bisque;
  color: bisque;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.news--simple--container--box001 p {
  color: orange;
  padding: 8px;
}

.news--simple--container--box002 {
  /*         border: solid 1px orange; */
  min-height: 450px;
  margin: 0 auto;
  width: 900px;
  display: flex;
}

.news--simple--container--box002 h3 {
  color: orange;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  text-align: center;
}

.news--simple--container--box002 p {
  color: orange;
  padding: 8px;
}

.news--simple--container--box002--image {
  margin: 0 auto;
  max-width: 800px;
  max-height: 400px;
  display: flex;
  justify-content: center;
  transform: scale(1);
  transition-duration: 3s;
}

.news--simple--container--box002--image .image--file {
  max-height: 90%;
  max-width: 90%;
}

.news--simple--container--box002--image:hover {
  transform: scale(1.13);
  left: 200px;
}

.news--simple--container--long {
  border-radius: 8px;
  background: linear-gradient(to left bottom, #171717, #2b2a2a);
  box-shadow: 8px 8px black;
  width: 1000px;
  height: 500px;
  margin: 30px auto;
  height: 1000px;
}

.news--simple--container--long--header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 900px;
  height: 100px;
  padding-top: 10px;
}

.news--simple--container--long--header h1 {
  color: #ffa600;
  letter-spacing: 1px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
}

.news--simple--container--long--header .news--simple--container--btn--back {
  background: linear-gradient(to left bottom, #171717, #2b2a2a);
  border: solid 2px orange;
  font-size: 1rem;
  max-height: 30px;
  width: 80px;
  color: #ffa600;
  cursor: pointer;
  position: relative;
  left: 30px;
}

.news--simple--container--long--header .news--simple--container--btn--back a {
  color: #ffa600;
  text-decoration: none;
}

.news--simple--container--long--box003 {
  color: orange;
  height: 900px;
  margin: 0 auto;
  width: 900px;
}

.news--simple--container--long--box003 h3 {
  border-bottom: solid 2px bisque;
  color: bisque;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
}

.news--simple--container--long--box003 .news-003--table {
  font-size: 20px;
  height: 300px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  color: black;
}

.news--simple--container--long--box003 .news-003--table table {
  max-width: 800px;
  margin: 0 auto;
}

.news--simple--container--long--box003 .news-003--table table th {
  padding: 6px;
  font-size: 14px;
  color: orange;
  letter-spacing: 1px;
}

.news--simple--container--long--box003 .news-003--table table th .col--image {
  max-width: 50px;
  max-height: 50px;
}

.news--simple--container--long--box003 .news-003--table table th .table--image {
  max-width: 30px;
  max-height: 30px;
}

.news--simple--container--long--box003 .news-003--table table td {
  padding: 6px;
  font-size: 12px;
}

.news--simple--container--long--box003 .news-003--table table .tr--title {
  background-color: #414140;
  color: #d29422;
}

.news--simple--container--long--box003 .news-003--table table .dark {
  background-color: #8a8a89;
}

.news--simple--container--long--box003 .news-003--table table .dark th {
  font-weight: normal;
  font-size: 16px;
  color: black;
}

.news--simple--container--long--box003 .news-003--table table .light {
  background-color: #d29422;
}

.news--simple--container--long--box003 .news-003--table table .light th {
  font-weight: normal;
  font-size: 16px;
  color: black;
}

.news--simple--container--long--box005 {
  height: 800px;
  margin: 0 auto;
  width: 900px;
  color: orange;
}

.news--simple--container--long--box005 h3 {
  border-bottom: solid 2px bisque;
  color: bisque;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  text-align: center;
}

.news--simple--container--long--box005--part1 {
  height: 420px;
  margin: 0 auto;
  width: 900px;
}

.news--simple--container--long--box005--part1--box1, .news--simple--container--long--box005--part1--box2 {
  border-radius: 12px;
  height: 200px;
  margin: 10px auto;
  width: 900px;
  display: flex;
  justify-content: space-between;
}

.news--simple--container--long--box005--part1--box1--logo--left, .news--simple--container--long--box005--part1--box2--logo--left {
  max-height: 200px;
  width: auto;
  display: flex;
  justify-content: left;
  object-fit: cover;
}

.news--simple--container--long--box005--part1--box1--logo--left .--img, .news--simple--container--long--box005--part1--box2--logo--left .--img {
  border-radius: 12px;
  max-height: 100%;
  max-width: 100%;
}

.news--simple--container--long--box005--part1--box1--logo--right, .news--simple--container--long--box005--part1--box2--logo--right {
  height: 200px;
  width: 450px;
  display: flex;
  justify-content: right;
  object-fit: cover;
}

.news--simple--container--long--box005--part1--box1--logo--right .--img, .news--simple--container--long--box005--part1--box2--logo--right .--img {
  border-radius: 12px;
  max-height: 100%;
  max-width: 100%;
}

.news--simple--container--long--box005--part1--box1--text, .news--simple--container--long--box005--part1--box2--text {
  margin: auto auto;
  height: 210px;
  width: 460px;
}

.news--simple--container--long--box005--part1--box1--text h4, .news--simple--container--long--box005--part1--box2--text h4 {
  margin-bottom: 8px;
  margin-left: 8px;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.news--simple--container--long--box005--part1--box1--text p, .news--simple--container--long--box005--part1--box2--text p {
  text-align: center;
  padding: 2px;
}

.news--simple--container--long--box005--part1--box1--text li, .news--simple--container--long--box005--part1--box2--text li {
  text-align: center;
}

.news--simple--container--long--box005--part2 {
  /*                 background: url(../images/ANIA-KASIA-3.png) center no-repeat; */
  background-size: auto;
  height: 400px;
  margin: 2px auto;
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.news--simple--container--long--box005--part2--person {
  border: solid 3px orange;
  border-radius: 12px;
  height: 350px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: orange;
}

.news--simple--container--long--box005--part2--person--header {
  font-size: 24px;
  height: 40px;
  text-align: center;
  width: 360px;
}

.news--simple--container--long--box005--part2--person--logo {
  height: 200px;
  margin-left: 10px;
  width: 200px;
  display: flex;
  align-items: center;
}

.news--simple--container--long--box005--part2--person--logo--img {
  max-height: 100%;
  max-width: 100%;
}

.news--simple--container--long--box005--part2--person--text {
  height: 400px;
  margin: 10px auto;
  text-align: center;
  width: 90%;
}

.news--simple--container--long--box005--part2--person--text h4 {
  color: orange;
  margin-bottom: 30px;
  margin-top: 10px;
  letter-spacing: 1px;
  text-align: center;
}

.news--simple--container--long--box005--part2--person--text h5 {
  border-bottom: solid 1px orange;
  font-size: 16px;
  letter-spacing: 1px;
}

.news--simple--container--long--box005--part2--person--text--img {
  margin-left: 10px;
  margin-right: 10px;
  max-height: 40px;
  max-width: 40px;
  position: relative;
  top: 16px;
}

.news--simple--container--long--box005--part2--person--text p {
  margin: 10px auto;
}

.news--simple--container--xlong {
  border-radius: 8px;
  background: linear-gradient(to left bottom, #171717, #2b2a2a);
  box-shadow: 8px 8px black;
  width: 1000px;
  height: 500px;
  margin: 30px auto;
  height: 1500px;
}

.news--simple--container--xlong--header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 900px;
  height: 100px;
  padding-top: 10px;
}

.news--simple--container--xlong--header h1 {
  color: #ffa600;
  letter-spacing: 1px;
  height: 80px;
  margin: 0 auto;
  text-align: center;
}

.news--simple--container--xlong--header .news--simple--container--btn--back {
  background: linear-gradient(to left bottom, #171717, #2b2a2a);
  border: solid 2px orange;
  font-size: 1rem;
  max-height: 30px;
  width: 80px;
  color: #ffa600;
  cursor: pointer;
  position: relative;
  left: 30px;
}

.news--simple--container--xlong--header .news--simple--container--btn--back a {
  color: #ffa600;
  text-decoration: none;
}

.news--simple--container--xlong--box004 {
  color: orange;
  height: 900px;
  margin: 0 auto;
  width: 900px;
}

.news--simple--container--xlong--box004 h3 {
  border-bottom: solid 2px bisque;
  color: bisque;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  text-align: center;
  margin: 20px auto;
}

.news--simple--container--xlong--box004 .news004--refBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.news--simple--container--xlong--box004 .news004--refBox--person--container {
  border: solid 3px black;
  border-radius: 10px;
  background: linear-gradient(to left bottom, #171717, #2b2a2a);
  box-shadow: 0 0 16px 1px black;
  display: flex;
  min-height: 200px;
  width: 800px;
  margin-top: 10px;
  color: orange;
  justify-content: left;
  animation-name: testAnimation;
  animation-duration: 3s;
}

.news--simple--container--xlong--box004 .news004--refBox--person--container--logo {
  max-width: 160px;
  max-height: 200px;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: orange;
}

.news--simple--container--xlong--box004 .news004--refBox--person--container--logo--image {
  border: solid 1px black;
  border-radius: 4px;
  max-height: 100%;
  max-width: 150px;
  overflow: hidden;
  text-align: center;
}

.news--simple--container--xlong--box004 .news004--refBox--person--container--logo--name {
  color: orange;
  text-shadow: 5px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  padding-top: 5px;
  width: 200px;
}

.news--simple--container--xlong--box004 .news004--refBox--person--container--text {
  min-height: 180px;
  margin: 5px;
  padding: 5px;
  width: 600px;
}

.news--simple--container--xlong--box004 .news004--refBox--person--container--text h4 {
  border-bottom: solid 1px orange;
  color: orange;
  letter-spacing: 1px;
  padding: 2px;
  text-align: center;
  margin-bottom: 10px;
}

.news--simple--container--xlong--box004 .news004--refBox--person--container--text--img {
  margin-left: 10px;
  max-height: 40px;
  max-width: 40px;
  position: relative;
  top: 16px;
}

.news--simple--container--xlong--box004 .news004--refBox--person--container--text p {
  padding: 3px;
  color: orange;
  font-size: 16px;
  text-align: center;
}

.news--simple--container--xlong--box004 .news004--refBox--person--container--text li {
  text-align: center;
}

@media (max-width: 550px) {
  .news--simple--container {
    border-radius: 8px;
    background: linear-gradient(to left bottom, #171717, #2b2a2a);
    box-shadow: 8px 8px black;
    width: 92vw;
    height: 500px;
    margin: 30px auto;
  }
  .news--simple--container--header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92vw;
    height: 100px;
    padding-top: 10px;
  }
  .news--simple--container--header h1 {
    color: #ffa600;
    letter-spacing: 1px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
  }
  .news--simple--container--header .news--simple--container--btn--back {
    background: linear-gradient(to left bottom, #171717, #2b2a2a);
    border: solid 2px orange;
    /*             border-bottom: none; */
    font-size: 0.8rem;
    max-height: 30px;
    width: 14vw;
    color: #ffa600;
    cursor: pointer;
    left: 74vw;
    bottom: 100px;
  }
  .news--simple--container--header .news--simple--container--btn--back a {
    color: #ffa600;
    text-decoration: none;
  }
  .news--simple--container--header .news--simple--container--btn--back {
    position: absolute;
    top: 440px;
  }
  .news--simple--container--box001 {
    width: 92vw;
  }
  .news--simple--container--box001 h3 {
    font-size: 1rem;
  }
  .news--simple--container--box001 p {
    color: orange;
    padding: 8px;
  }
  .news--simple--container--box002 {
    min-height: 450px;
    margin: 0 auto;
    width: 92vw;
    display: flex;
    flex-direction: column;
  }
  .news--simple--container--box002--text {
    text-align: center;
  }
  .news--simple--container--box002 h3 {
    color: orange;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
    text-align: center;
  }
  .news--simple--container--box002 p {
    color: orange;
    padding: 8px;
  }
  .news--simple--container--box002--image {
    margin: 0 auto;
    max-width: 800px;
    max-height: 400px;
    display: flex;
    justify-content: center;
    transform: scale(1);
    transition-duration: 3s;
  }
  .news--simple--container--box002--image .image--file {
    max-height: 90%;
    max-width: 90%;
  }
  .news--simple--container--box002--image:hover {
    transform: scale(1.05);
    left: 200px;
  }
  .news--simple--container--long {
    border-radius: 8px;
    background: linear-gradient(to left bottom, #171717, #2b2a2a);
    box-shadow: 8px 8px black;
    width: 92vw;
    height: 500px;
    margin: 30px auto;
    height: 1000px;
  }
  .news--simple--container--long--header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92vw;
    height: 100px;
    padding-top: 10px;
  }
  .news--simple--container--long--header h1 {
    color: #ffa600;
    letter-spacing: 1px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
  }
  .news--simple--container--long--header .news--simple--container--btn--back {
    background: linear-gradient(to left bottom, #171717, #2b2a2a);
    border: solid 2px orange;
    /*             border-bottom: none; */
    font-size: 0.8rem;
    max-height: 30px;
    width: 14vw;
    color: #ffa600;
    cursor: pointer;
    left: 74vw;
    bottom: 100px;
  }
  .news--simple--container--long--header .news--simple--container--btn--back a {
    color: #ffa600;
    text-decoration: none;
  }
  .news--simple--container--long--box003 {
    height: 900px;
    width: 92vw;
  }
  .news--simple--container--long--box003 p {
    padding: 10px;
  }
  .news--simple--container--long--box003 .news-003--table {
    width: 90vw;
    display: block;
    margin: 20px auto;
    overflow: scroll;
  }
  .news--simple--container--long--box003 .news-003--table table th {
    padding: 6px;
    font-size: 0.8rem;
    color: orange;
    letter-spacing: 1px;
  }
  .news--simple--container--long--box003 .news-003--table table th .col--image {
    max-width: 30px;
    max-height: 30px;
  }
  .news--simple--container--long--box003 .news-003--table table th .table--image {
    max-width: 30px;
    max-height: 30px;
  }
  .news--simple--container--long--box003 .news-003--table table .dark th {
    font-size: 0.8rem;
  }
  .news--simple--container--long--box003 .news-003--table table .light th {
    font-size: 0.8rem;
  }
  .news--simple--container--long--box005 {
    width: 92vw;
  }
  .news--simple--container--long--box005 h3 {
    border-bottom: solid 2px bisque;
    color: bisque;
    width: 92vw;
    margin-top: 10px;
  }
  .news--simple--container--long--box005--part1 {
    height: 300px;
    margin: 0 auto;
    width: 92vw;
  }
  .news--simple--container--long--box005--part1--box1 {
    height: 200px;
    margin: 5px auto;
    width: 96vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .news--simple--container--long--box005--part1--box1--logo--left {
    max-height: 80vw;
    width: auto;
    display: none;
    justify-content: left;
    object-fit: cover;
  }
  .news--simple--container--long--box005--part1--box1--logo--left .--img {
    border-radius: 12px;
    max-height: 100%;
    max-width: 100%;
  }
  .news--simple--container--long--box005--part1--box1--text {
    margin: auto auto;
    height: 210px;
    width: 92vw;
  }
  .news--simple--container--long--box005--part1--box1--text h4 {
    margin-bottom: 8px;
    margin-left: 8px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }
  .news--simple--container--long--box005--part1--box1--text p {
    text-align: center;
    padding: 2px;
  }
  .news--simple--container--long--box005--part1--box1--text li {
    text-align: center;
  }
  .news--simple--container--long--box005--part1--box2 {
    height: 70px;
    margin: 5px auto;
    width: 96vw;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .news--simple--container--long--box005--part1--box2--logo--right {
    height: 240px;
    width: 450px;
    display: none;
    justify-content: right;
    object-fit: cover;
  }
  .news--simple--container--long--box005--part1--box2--logo--right .--img {
    border-radius: 12px;
    max-height: 100%;
    max-width: 100%;
  }
  .news--simple--container--long--box005--part1--box2--text {
    margin: auto auto;
    height: 210px;
    width: 92vw;
  }
  .news--simple--container--long--box005--part1--box2--text h4 {
    margin-bottom: 8px;
    margin-left: 8px;
    letter-spacing: 0.5px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
  }
  .news--simple--container--long--box005--part1--box2--text p {
    text-align: center;
    padding: 2px;
  }
  .news--simple--container--long--box005--part1--box2--text li {
    text-align: center;
  }
  .news--simple--container--long--box005--part2 {
    height: 200px;
    width: 96vw;
    display: flex;
    flex-direction: column;
  }
  .news--simple--container--long--box005--part2--person {
    height: 200px;
    width: 88vw;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }
  .news--simple--container--long--box005--part2--person--header {
    font-size: 24px;
    height: 40px;
    text-align: center;
    width: 360px;
  }
  .news--simple--container--long--box005--part2--person--logo {
    height: 200px;
    margin-left: 10px;
    width: 200px;
    display: none;
    align-items: center;
  }
  .news--simple--container--long--box005--part2--person--logo--img {
    max-height: 100%;
    max-width: 100%;
  }
  .news--simple--container--long--box005--part2--person--text {
    height: 400px;
    margin: 10px auto;
    text-align: center;
    width: 90%;
  }
  .news--simple--container--long--box005--part2--person--text h4 {
    color: orange;
    margin-bottom: 30px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-align: center;
  }
  .news--simple--container--long--box005--part2--person--text h5 {
    border-bottom: solid 1px orange;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .news--simple--container--long--box005--part2--person--text--img {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 40px;
    max-width: 40px;
    position: relative;
    top: 16px;
  }
  .news--simple--container--long--box005--part2--person--text p {
    margin: 10px auto;
  }
  .news--simple--container--xlong {
    border-radius: 8px;
    background: linear-gradient(to left bottom, #171717, #2b2a2a);
    box-shadow: 8px 8px black;
    width: 92vw;
    height: 500px;
    margin: 30px auto;
    box-shadow: 0 0 0px 0px black;
    height: 1640px;
  }
  .news--simple--container--xlong--header {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92vw;
    height: 100px;
    padding-top: 10px;
  }
  .news--simple--container--xlong--header h1 {
    color: #ffa600;
    letter-spacing: 1px;
    height: 80px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 50px;
  }
  .news--simple--container--xlong--header .news--simple--container--btn--back {
    background: linear-gradient(to left bottom, #171717, #2b2a2a);
    border: solid 2px orange;
    /*             border-bottom: none; */
    font-size: 0.8rem;
    max-height: 30px;
    width: 14vw;
    color: #ffa600;
    cursor: pointer;
    left: 74vw;
    bottom: 100px;
  }
  .news--simple--container--xlong--header .news--simple--container--btn--back a {
    color: #ffa600;
    text-decoration: none;
  }
  .news--simple--container--xlong--box004 {
    width: 96vw;
    height: 1400px;
  }
  .news--simple--container--xlong--box004 h3 {
    width: 92vw;
    margin: 20px 0;
  }
  .news--simple--container--xlong--box004 .news004--refBox {
    width: 92vw;
  }
  .news--simple--container--xlong--box004 .news004--refBox--person--container {
    box-shadow: 0 0 0px 0px black;
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin-top: 10px;
  }
  .news--simple--container--xlong--box004 .news004--refBox--person--container--logo {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: orange;
    margin-bottom: 0px;
  }
  .news--simple--container--xlong--box004 .news004--refBox--person--container--logo--image {
    border: solid 1px black;
    border-radius: 4px;
    max-height: 0px;
    max-width: 0px;
    overflow: hidden;
    text-align: center;
    display: none;
  }
  .news--simple--container--xlong--box004 .news004--refBox--person--container--logo--name {
    color: bisque;
    text-shadow: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
    width: 80vw;
    margin: 0 auto;
  }
  .news--simple--container--xlong--box004 .news004--refBox--person--container--text {
    width: 84vw;
    font-size: 0.8rem;
    padding: 0;
  }
}
