@import "_template.scss";
@import "_variables.scss";
@import "_mixins.scss";

@keyframes testAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.container--title {
    @include title;
}

.news--container {
    align-items: center;
    background: $bg-color-black-orange-bottom;
    border: solid 2px black;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 68vh;
    justify-content: space-around;
    margin: 20px auto;
    width: 94vw;

    .news--box {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 46vh;
        justify-content: space-around;
        width: 90vw;

        article {
            @include article;
        }

        article:hover {
            transform: scale(1.15);
            z-index: 100;
        }

        article a {
            @include article--a;
        }

        article a:hover {
            background-color: black;
            color: orange;
        }
    }

    @include buttons-box;
}


@include breakPoint(xlarge) {

    .container--title {
        .title {
            left: 30vw;
            width: 40vw;
        }

        .btn--index {
            left: 44vw;
            width: 9vw;
        }

    }

    .news--container {
        .news--box {
            article a {
                font-size: 0.8rem;
            }
        }
    }


}

@include breakPoint (large) {

    .container--title {
        @include title--small;

        .title {
            font-size: 1.4rem;
        }


    }

    .news--container {
        flex-wrap: nowrap;
        flex-direction: column;
        height: 250vh;
        justify-content: center;
        margin: 20px auto;
        width: 94vw;

        .news--box {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 230vh;
            justify-content: space-around;
            width: 90vw;

            article {
                min-height: 55vh;
                margin-top: 20px;
                width: 86vw;

                .article--image {
                    max-height: 90%;
                    max-width: 90%;
                    overflow: hidden;

                    .article--image--file {
                        border-radius: 5px;
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            article:hover {
                transform: scale(1);
                z-index: 100;
            }

        }

        @include buttons-box;
    }
}