@import "_template.scss";
@import "_variables.scss";
@import "_mixins.scss";


nav {
    .nav--box {
        & a#news {
            background: $bg-color-orange-dark;
            border-radius: 12px;
            color: black;
        }
    }
}


main {
    height: auto;
}



.news--simple--container {
    @include simple--container();

    &--box001 {
        height: auto;
        margin: 0 auto;
        width: 60vw;

        h3 {
            @include simple--container--h3;

            p {
                color: orange;
                font-size: 0.8rem;
                text-align: right;
            }
        }

        p {
            color: orange;
            font-size: 1.1rem;
            padding: 8px;
        }

        .pTextIndent {
            text-indent: 25px;
        }

        a {
            color: bisque;
            text-decoration: none;
        }

    }

    &--box002 {
        color: orange;
        display: flex;
        margin: 0 auto;
        min-height: 70vh;
        width: 68vw;


        &--text {
            margin-top: 50px;
            padding-right: 20px;
        }

        p {
            padding: 8px;
        }

        &--image {
            display: flex;
            height: 58vh;
            justify-content: center;
            margin: 0 auto;
            transform: scale(1);
            transition-duration: 3s;
            width: 70vw;

            .image--file {
                max-height: 90%;
                max-width: 90%;
            }
        }

        &--image:hover {
            transform: scale(1.13);
        }

    }

}

.news--simple--container--long {

    @include simple--container();
    height: auto;

    &--box003 {
        color: orange;
        margin: 0 auto;
        width: 68vw;

        h3 {
            @include simple--container--h3;
            margin-bottom: 3vh;
        }

        p {
            font-size: 1.1rem;
            text-indent: 25px;
        }

        li {
            font-size: 1rem;
            margin: 10px;
        }

        .news-003--table {
            color: black;
            display: flex;
            justify-content: center;
            margin-top: 20px;
            text-align: center;

            table {
                margin: 4vh auto;

                th {
                    color: orange;
                    font-size: 1rem;
                    font-weight: 200;
                    letter-spacing: 1px;
                    padding: 6px;

                    .col--image {
                        max-height: 50px;
                        max-width: 50px;
                    }

                    .table--image {
                        max-height: 30px;
                        max-width: 30px;
                    }
                }

                td {
                    font-size: 1rem;
                    padding: 6px;

                }

                .tr--title {
                    background-color: rgb(65, 65, 64);
                    color: orange;
                }

                .dark {
                    background-color: rgb(138, 138, 137);

                    th {
                        color: black;
                        font-size: 1rem;
                    }

                }

                .light {
                    background-color: rgb(210, 148, 34);

                    th {
                        color: black;
                        font-size: 1rem;
                    }
                }
            }
        }


    }

    &--box005 {
        color: orange;
        height: auto;
        margin: 0 auto;
        width: 68vw;

        h3 {
            @include simple--container--h3;
        }

        &--part1 {
            display: flex;
            flex-direction: row;
            height: 70vh;
            margin: 10px auto;
            width: 68vw;

            &--box1,
            &--box2 {

                border-radius: 12px;
                display: flex;
                flex-direction: column;
                height: 66vh;
                justify-content: space-between;
                margin: 10px auto;
                width: 32vw;

                &--logo--left {
                    height: 40vh;
                    width: auto;

                    .--img {
                        border-radius: 12px;
                        max-height: 100%;
                        max-width: 100%;
                    }
                }

                &--logo--right {
                    display: flex;
                    height: 35vh;
                    justify-content: center;
                    width: auto;

                    .--img {
                        border-radius: 12px;
                        max-height: 100%;
                        max-width: 100%;
                    }
                }

                &--text {
                    height: 12vh;
                    margin: 10px auto;
                    width: 30vw;

                    h4 {
                        border-bottom: solid 1px orange;
                        font-weight: 200;
                        font-size: 1.2rem;
                        letter-spacing: 0.5px;
                        margin-bottom: 10px;
                        text-align: center;
                    }

                    p {
                        font-size: 1rem;
                        padding: 2px;
                        text-align: center;
                    }
                }
            }
        }

        &--part2 {
            align-items: center;
            display: flex;
            flex-direction: row;
            height: 70vh;
            justify-content: space-around;
            margin: 2px auto;
            width: 68vw;

            &--person {
                align-items: center;
                border: solid 3px orange;
                border-radius: 12px;
                color: orange;
                display: flex;
                flex-direction: column;
                height: 58vh;
                justify-content: space-around;
                width: 30vw;

                &--header {
                    font-size: 1.5rem;
                    height: 10vh;
                    text-align: center;
                    width: 22vw;
                }

                &--logo {
                    align-items: center;
                    display: flex;
                    height: 30vh;
                    margin: 2px auto;
                    width: 30vw;

                    &--img {
                        margin: 0 auto;
                        max-height: 90%;
                        max-width: auto;
                    }
                }

                &--text {

                    height: 20vh;
                    margin: 10px auto;
                    text-align: center;
                    width: 90%;

                    h5 {
                        border-bottom: solid 1px orange;
                        font-size: 1rem;
                        font-weight: 200;
                        height: 6vh;
                        letter-spacing: 1px;
                        margin: 10px auto;
                        text-align: center;
                        width: 16vw;
                    }


                    &--img {
                        margin-left: 10px;
                        margin-right: 10px;
                        max-height: 40px;
                        max-width: 40px;
                        position: relative;
                        top: 6px;
                    }

                    p {
                        font-size: 1rem;
                        margin: 5px auto;
                    }
                }
            }
        }
    }

}

.news--simple--container--xlong {

    @include simple--container();
    height: auto;

    &--box004 {
        color: orange;
        margin: 20px auto;

        h3 {
            @include simple--container--h3;
            margin: 30px auto;
        }

        .news004--refBox {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: auto;
            justify-content: space-around;
            margin: 20px auto;

            &--person--container,
            &--person--container--small {
                background: $bg-color-grey-orange-bottom;
                border: solid 3px black;
                border-radius: 10px;
                box-shadow: 0 0 16px 1px black;
                color: black;
                display: flex;
                margin: 10px auto;
                min-height: 30vh;
                width: 54vw;

                &--logo {
                    align-items: center;
                    color: black;
                    display: flex;
                    flex-direction: column;
                    margin: auto auto;
                    max-height: 20vh;
                    max-width: 12vw;

                    &--image {
                        border: solid 1px black;
                        border-radius: 4px;
                        max-height: 100%;
                        max-width: 100%;
                        overflow: hidden;
                    }

                    &--name {
                        font-size: 1rem;
                        font-weight: 600;
                        letter-spacing: 1px;
                        text-align: center;
                        padding-top: 5px;
                    }
                }

                &--text {
                    margin: 5px;
                    min-height: 18vh;
                    padding: 5px;
                    width: 34vw;

                    h4 {
                        border-bottom: solid 1px black;
                        letter-spacing: 1px;
                        margin-bottom: 10px;
                        padding: 2px;
                        text-align: center;
                    }

                    &--img {
                        margin-left: 10px;
                        max-height: 40px;
                        max-width: 40px;
                        position: relative;
                        top: 16px;
                    }

                    li {
                        font-size: 1rem;
                        padding: 3px;
                        text-align: left;
                    }
                }
            }


        }
    }


}


@include breakPoint(xlarge) {


    .news--simple--container {
        @include simple--container--small;
        height: auto;

        &--header {
            flex-direction: column;

            h1 {
                font-size: 2rem;
            }

            .news--simple--container--btn--back {
                position: relative;
                bottom: 90px;
                left: 66vw;
            }
        }

        &--box001 {
            height: auto;
            margin: 0 auto;
            width: 80vw;

            h3 {
                @include simple--container--h3;
            }

            p {
                color: orange;
                padding: 8px;
            }
        }

        &--box002 {
            color: orange;
            flex-direction: column;
            margin: 0 auto;
            height: 70vh;
            width: 92vw;

            &--text {
                padding-right: 20px;
                text-align: center;
            }

            &--image {
                height: auto;
                transform: scale(1);
                transition: 0s;
                width: 60vw;

                .image--file {
                    max-height: auto;
                    max-width: 100%;
                }
            }

            &--image:hover {
                transform: scale(1);
            }
        }
    }

    .news--simple--container--long {

        height: auto;
        width: 86vw;

        &--header {
            flex-direction: column;
            width: 84vw;

            h1 {
                font-size: 1.5rem;
            }

            .news--simple--container--btn--back {
                align-self: flex-end;
            }
        }


        &--box003 {
            //none to change;
        }

        &--box005 {
            height: auto;
            width: 80vw;


            &--part1 {
                width: 80vw;

                &--box1,
                &--box2 {
                    width: 36vw;
                }
            }

            &--part2 {

                width: 80vw;

                &--person {

                    width: 34vw;

                    &--header {
                        width: 26vw;
                    }

                    &--logo {
                        width: 24vw;
                    }

                    &--text {
                        width: 100%;

                        p {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }

    }

    .news--simple--container--xlong {

        height: auto;
        width: 86vw;

        &--header {
            flex-direction: column;
            width: 84vw;

            h1 {
                font-size: 1.5rem;
            }

            .news--simple--container--btn--back {
                align-self: flex-end;
            }
        }


        &--box004 {
            .news004--refBox {
                &--person--container {
                    width: 70vw;

                    &--logo {
                        max-width: 30vw;
                    }
                }
            }
        }
    }

}

@include breakPoint(large) {

    main {
        height: auto;
    }

    .news--simple--container {
        @include simple--container--small;
        height: auto;

        &--box001 {
            height: auto;
            width: 90vw;

            h3 {
                @include simple--container--h3;
                font-size: 1rem;
            }

            p {
                color: orange;
                padding: 8px;
            }
        }

        &--box002 {
            color: orange;
            flex-direction: column;
            margin: 0 auto;
            height: auto;
            width: 92vw;

            &--text {
                padding-right: 20px;
                text-align: center;
            }

            &--image {
                height: auto;
                transform: scale(1);
                transition: 0s;
                width: 70vw;

                .image--file {
                    max-height: auto;
                    max-width: 100%;
                }
            }

            &--image:hover {
                transform: scale(1);
            }
        }
    }

    .news--simple--container--long {

        height: auto;
        width: 94vw;

        &--box003 {
            width: 90vw;
        }

        &--box005 {

            //none;
            &--part1 {
                flex-direction: column;
                height: 65vh;
                width: 88vw;

                &--box1,
                &--box2 {
                    flex-direction: row;
                    height: 50vh;
                    width: 80vw;

                    &--logo--left {
                        height: 28vh;
                        width: auto;

                    }

                    &--logo--right {
                        height: 28vh;
                        width: auto;
                    }

                    &--text {
                        font-size: 0.8rem;
                        height: 12vh;
                        width: 30vw;
                    }
                }
            }

            &--part2 {
                align-items: center;
                display: flex;
                flex-direction: row;
                height: 50vh;
                justify-content: space-around;
                margin: 2px auto;
                width: 80vw;

                &--person {
                    align-items: center;
                    border: solid 3px orange;
                    border-radius: 12px;
                    color: orange;
                    display: flex;
                    flex-direction: column;
                    height: 48vh;
                    justify-content: space-around;
                    width: vw;

                    &--header {
                        font-size: 1.5rem;
                        height: 8vh;
                        text-align: center;
                        width: 28vw;
                    }

                    &--logo {
                        align-items: center;
                        display: flex;
                        height: 20vh;
                        margin: 2px auto;
                        width: 20vw;

                        &--img {
                            margin: 0 auto;
                            max-height: 90%;
                            max-width: auto;
                        }
                    }

                    &--text {
                        height: 20vh;
                        margin: 10px auto;
                        text-align: center;
                        width: 90%;

                        h5 {
                            font-size: 1rem;
                            font-weight: 200;
                            height: 6vh;
                            letter-spacing: 1px;
                            text-align: center;
                        }

                        &--img {
                            margin-left: 10px;
                            margin-right: 10px;
                            max-height: 40px;
                            max-width: 40px;
                            position: relative;
                            top: 16px;
                        }

                        p {
                            margin: 10px auto;
                        }
                    }
                }
            }
        }
    }

    .news--simple--container--xlong {
        height: 210vh;
        width: 94vw;

        &--box004 {

            .news004--refBox {
                &--person--container {
                    &--text {
                        &--img {
                            display: none;

                        }
                    }
                }
            }
        }
    }

}

@include breakPoint(medium) {

    main {
        height: auto;
    }

    .news--simple--container {
        @include simple--container--small;
        height: auto;

        &--box001 {
            height: auto;
            width: 90vw;

            h3 {
                @include simple--container--h3;
                font-size: 1rem;
                margin-top: 20px;
            }

            p {
                color: orange;
                padding: 8px;
            }
        }

        &--box002 {
            color: orange;
            flex-direction: row;
            margin: 20px auto;
            height: 70vh;
            width: 92vw;

            &--text {
                margin-top: 0px;
                padding-right: 20px;
                text-align: center;

                h3 {
                    font-size: 1rem;
                }

                p {
                    font-size: 0.8rem;
                }
            }

            &--image {
                height: auto;
                transform: scale(1);
                transition: 0s;
                width: 60vw;

                .image--file {
                    max-height: auto;
                    max-width: 100%;
                }
            }

            &--image:hover {
                transform: scale(1);
            }
        }
    }

    .news--simple--container--long {

        height: auto;
        width: 96vw;

        &--header {
            h1 {
                font-size: 1.2rem;
            }
        }

        &--box003 {
            height: auto;
            width: 94vw;

            .news-003--table {
                table {

                    th {
                        font-size: 0.8rem;
                    }

                    td {
                        font-size: 0.8rem;
                    }

                    .dark {
                        th {
                            font-size: 0.7rem;
                        }
                    }

                    .light {
                        th {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }

        &--box005 {
            height: auto;
            width: 88vw;

            h3 {
                @include simple--container--h3;
            }

            &--part1 {
                flex-direction: row;
                height: auto;
                width: 88vw;

                &--box1,
                &--box2 {
                    flex-direction: column;
                    height: 94vh;
                    width: 40vw;

                    &--logo--left {
                        height: 80vh;
                        width: auto;
                    }

                    &--logo--right {
                        /*                         display: none; */
                        height: 40vh;
                        width: auto;
                    }

                    &--text {
                        font-size: 0.8rem;
                        height: 40vh;
                        width: 30vw;
                    }
                }
            }

            &--part2 {

                height: 120vh;
                width: 88vw;

                &--person {
                    height: 112vh;
                    width: 42vw;

                    &--header {
                        font-size: 1.2rem;
                        height: 6vh;
                        width: 40vw;
                    }

                    &--logo {

                        align-items: center;
                        display: flex;
                        height: 40vh;
                        margin: 2px auto;
                        width: 40vw;

                        &--img {
                            margin: 0 auto;
                            max-height: 90%;
                            max-width: auto;
                        }
                    }

                    &--text {

                        height: 40vh;

                        h5 {
                            border-bottom: solid 1px orange;
                            font-size: 1rem;
                            height: 8vh;
                        }

                        &--img {
                            display: none;
                        }

                        p {
                            font-size: 0.8rem;
                            margin-top: 30px;
                        }
                    }
                }
            }
        }

    }

    .news--simple--container--xlong {

        height: auto;
        width: 92vw;

        &--header {
            flex-direction: column;
            width: 84vw;

            h1 {
                font-size: 1.5rem;
            }

            .news--simple--container--btn--back {
                align-self: flex-end;
            }
        }


        &--box004 {
            color: orange;
            height: auto;
            margin: 10px auto;

            h3 {
                @include simple--container--h3;
            }

            .news004--refBox {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: auto;
                margin: 10px auto;

                &--person--container {
                    height: auto;
                    margin: 10px auto;
                    width: 80vw;

                    &--logo {
                        max-height: auto;
                        max-width: 200px;
                    }

                    &--text {
                        height: auto;
                        width: 40vw;

                        li {
                            font-size: 0.8rem;
                            padding-bottom: 10px;
                        }
                    }
                }

                &--person--container--small {
                    height: 200px;
                    margin: 10px auto;
                    width: 80vw;

                    &--logo {

                        max-height: 40vh;
                        max-width: 300px;

                    }
                }
            }
        }
    }


}


@include breakPoint(small) {

    main {
        height: auto;
    }

    .news--simple--container {
        @include simple--container--small;
        height: auto;

        &--box002 {
            color: orange;
            flex-direction: column;
            justify-content: space-around;
            margin: 0 auto;
            height: auto;
            width: 92vw;

            &--text {
                order: 0;
                padding-right: 20px;
                text-align: center;
            }

            &--image {
                height: auto;
                order: 1;
                transform: scale(1);
                transition: 0s;
                width: 92vw;

                .image--file {
                    max-height: auto;
                    max-width: 100%;
                }
            }

            &--image:hover {
                transform: scale(1);
            }
        }
    }

    .news--simple--container--long {

        height: auto;
        width: 96vw;

        &--header {
            h1 {
                font-size: 1.2rem;
            }
        }


        &--box003 {
            height: auto;

            .news-003--table {

                justify-content: flex-start;
                overflow: scroll;

                table {
                    margin-top: 4vh;

                    th {
                        font-size: 0.8rem;
                    }

                    td {
                        font-size: 0.6rem;
                    }

                    .dark {
                        th {
                            font-size: 0.7rem;
                        }
                    }

                    .light {
                        th {
                            font-size: 0.7rem;
                        }
                    }
                }
            }
        }

        &--box005 {
            height: auto;
            width: 92vw;

            h3 {
                @include simple--container--h3;
                font-size: 1rem;
                margin-top: 3vh;
            }

            &--part1 {
                flex-direction: column;
                height: 70vh;
                width: 90vw;

                &--box1,
                &--box2 {
                    flex-direction: column;
                    height: 60vh;
                    width: 88vw;

                    &--logo--right {
                        display: none;
                    }

                    &--text {
                        height: 12vh;
                        margin: 10px auto;
                        width: 88vw;
                    }

                    &--logo--left {
                        height: 30vh;
                        width: auto;
                    }

                }
            }

            &--part2 {
                flex-direction: column;
                height: auto;
                margin-top: 2vh;
                padding-bottom: 5vh;
                width: 90vw;

                &--person {

                    border: solid 1px orange;
                    flex-direction: column;
                    flex-wrap: wrap;
                    height: 30vh;
                    margin-top: 4vh;
                    width: 88vw;

                    &--header {
                        font-size: 1rem;
                        height: 6vh;
                        margin-top: 2vh;
                        width: 40vw;
                        order: 1;
                    }

                    &--logo {
                        align-items: center;
                        display: flex;
                        height: 28vh;
                        margin: 2px auto;
                        width: 38vw;
                        order: 0;

                        &--img {
                            margin: 0 auto;
                            max-height: 20vh;
                            max-width: 90%;
                        }
                    }

                    &--text {
                        height: 18vh;
                        width: 40vw;
                        order: 2;

                        h5 {
                            font-size: 1rem;
                            height: 4vh;
                            width: 36vw;
                        }

                        &--img {
                            display: none;
                        }

                        p {
                            font-size: 0.8rem;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }

    }

    .news--simple--container--xlong {

        height: auto;
        width: 92vw;

        &--header {
            h1 {
                font-size: 1.2rem;
            }
        }


        &--box004 {
            margin-top: 0px;
            height: 265vh;
            width: 92vw;

            h3 {
                @include simple--container--h3;
            }

            .news004--refBox {
                flex-direction: column;
                width: 92vw;

                &--person--container,
                &--person--container--small {

                    flex-direction: column;
                    height: auto;
                    width: 90vw;

                    &--logo {
                        align-items: center;
                        color: black;
                        display: flex;
                        flex-direction: column;
                        margin: 10px auto;
                        max-height: 20vh;
                        max-width: 90vw;

                        &--image {
                            max-height: 20vh;
                            max-width: 90vw;
                        }

                        &--name {
                            font-size: 1rem;
                            font-weight: 600;
                            letter-spacing: 1px;
                            text-align: center;
                            padding-top: 5px;
                        }
                    }

                    &--text {
                        margin: 5px;
                        min-height: 18vh;
                        padding: 5px;
                        width: 90vw;

                        h4 {
                            border-bottom: solid 1px black;
                            letter-spacing: 1px;
                            margin-bottom: 10px;
                            padding: 2px;
                            text-align: center;
                        }

                        &--img {
                            margin-left: 10px;
                            max-height: 40px;
                            max-width: 40px;
                            position: relative;
                            top: 16px;
                        }

                        li {
                            font-size: 1rem;
                            padding: 3px;
                            text-align: left;
                        }
                    }
                }
            }
        }


    }


}