@import "_template.scss";
@import "_variables.scss";

.container--title {
    @include title;
}


.history--container {
    align-items: center;
    background: $bg-color-black-orange-bottom;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    min-height: 600px;
    width: 90vw;

    p {
        color: black;
        font-size: 3rem;
        text-align: center;
    }
}


@include breakPoint(xlarge) {

    .container--title {
        .title {
            left: 30vw;
            width: 40vw;
        }

        .btn--index {
            left: 44vw;
            width: 9vw;
        }

    }

}


@include breakPoint (large) {

    .container--title {
        @include title--small;

        .title {
            font-size: 1.4rem;
        }


    }
}